.app-landing-home-banner {
	background-position: top center;
	background-repeat: no-repeat;
	padding: 200px 0 100px;
}
.app-landing-home-banner .banner-content h1 {
	font-size: 60px;
	font-weight: 700;
	line-height: 70px;
	color: #252a32;
	margin-bottom: 22px;
}
.app-landing-home-banner .banner-content p {
	font-size: 20px;
	line-height: 32px;
	color: #505b6d;
	max-width: 520px;
}
.app-landing-home-banner .banner-content .s_btn {
	margin-top: 35px;
}
.app-landing-home-banner .banner-content .s_btn .btn {
	box-shadow: 0px 3px 20px 0px rgba(13, 21, 75, 0.3);
	text-transform: capitalize;
	border-radius: 30px;
	padding: 16px 24px;
	font-size: 16px;
	font-weight: 600;
	margin: 0 10px;
}
@media (max-width: 767.98px) {
	.app-landing-home-banner {
		background-position: center;
		padding: 75px 0 50px !important;
   }
	.app-landing-home-banner .banner-content h1 {
		font-size: 35px;
		line-height: 46px;
   }
	.app-landing-home-banner .banner-content p {
		font-size: 18px;
		line-height: 30px;
   }
	.app-landing-home-banner .banner-content .btn {
		margin: 0 5px !important;
   }
	.app-landing-home-banner .image {
		display: none;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.app-landing-home-banner {
		background-position: left top;
		padding: 200px 0 100px !important;
   }
	.app-landing-home-banner .image {
		display: none;
   }
}
.app-landing-about {
	padding: 50px 0;
}
.app-landing-about .title {
	text-align: center;
	margin-bottom: 57px;
}
.app-landing-about .title span {
	font-size: 20px;
	line-height: 30px;
	color: theme-color('secondary');
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 15px;
}
.app-landing-about .title h3 {
	font-size: 48px;
	line-height: 58px;
	margin-bottom: 24px;
	font-weight: 700;
	color: #1c144e;
}
.app-landing-about .title p {
	font-size: 18px;
	color: #777;
	max-width: 720px;
	line-height: 26px;
	margin: 0 auto;
}
.app-landing-about .about-list {
	border: 2px solid #ededed;
	border-right: 0;
}
.app-landing-about .icon1, .app-landing-about .bg1 {
	background-color: #9946b2;
}
.app-landing-about .icon2, .app-landing-about .bg2 {
	background-color: #491eb8;
}
.app-landing-about .icon3, .app-landing-about .bg3 {
	background-color: #2fb8ff;
}
.app-landing-about .icon4, .app-landing-about .bg4 {
	background-color: #6d41be;
}
.app-landing-about .about-content {
	text-align: center;
	padding: 60px 20px 40px 20px;
	border-right: 2px solid #ededed;
}
.app-landing-about .about-content .about-icon {
	color: #fff;
	margin-bottom: 15px;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	margin: auto;
}
.app-landing-about .about-content .content h4 {
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #1c144e;
}
.app-landing-about .about-content .content p {
	font-size: 18px;
	color: #666;
	line-height: 1.625;
}
.app-landing-about .about-content:hover .about-icon {
	-ms-transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	transform: rotateY(360deg);
}
.app-landing-about .btn {
	box-shadow: 0px 3px 20px 0px rgba(13, 21, 75, 0.3);
	text-transform: capitalize;
	border-radius: 30px;
	padding: 16px 24px;
	font-size: 16px;
	font-weight: 600;
	margin: 10px;
}
@media (max-width: 767.98px) {
	.app-landing-about {
		padding: 30px 0;
   }
	.app-landing-about .title span {
		font-size: 18px;
		line-height: 28px;
   }
	.app-landing-about .title h3 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 24px;
   }
	.app-landing-about .title p {
		font-size: 16px;
   }
	.app-landing-about .about-list {
		border: none;
   }
	.app-landing-about .about-content {
		border: 2px solid #ededed;
		margin-bottom: 30px;
   }
	.app-landing-about .p-0 {
		padding-right: 15px !important;
		padding-left: 15px !important;
   }
	.app-landing-about .mt64 {
		margin-top: 0 !important;
   }
	.app-landing-about .s_btn {
		text-align: center;
   }
	.app-landing-about .s_btn .btn {
		display: block !important;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.app-landing-about .about-list {
		border: none;
   }
	.app-landing-about .about-content {
		border: 2px solid #ededed;
		margin-bottom: 30px;
   }
	.app-landing-about .p-0 {
		padding-right: 15px !important;
		padding-left: 15px !important;
   }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.app-landing-about .about-content {
		padding: 50px 10px;
   }
}
.app-experience {
	padding: 50px 0;
}
.app-experience .image-video .image {
	position: relative;
	z-index: 0;
	width: fit-content;
}
.app-experience .image-video .video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
}
.app-experience .image-video .video-play i {
	color: theme-color('secondary');
}
.app-experience .content span {
	font-size: 20px;
	line-height: 30px;
	color: theme-color('secondary');
	text-transform: uppercase;
	font-weight: 600;
	display: block;
	margin-bottom: 10px;
}
.app-experience .content h3 {
	font-size: 50px;
	line-height: 58px;
	margin-bottom: 20px;
	font-weight: 700;
	color: #1c144e;
}
.app-experience .content p {
	font-size: 18px;
	color: #666;
	line-height: 1.625;
}
@media (max-width: 767.98px) {
	.app-experience {
		padding: 30px 0;
   }
	.app-experience .content {
		margin-top: 45px;
   }
	.app-experience .content span {
		font-size: 18px;
		line-height: 28px;
   }
	.app-experience .content h3 {
		font-size: 35px;
		line-height: 40px;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.app-experience .image img {
		width: 100%;
   }
	.app-experience .content {
		margin-top: 40px;
   }
}
.app-landing-counter {
	padding: 50px 0;
}
.app-landing-counter .counter-content {
	justify-content: center;
	margin-bottom: 30px;
}
.app-landing-counter .counter-content .app-icon {
	color: theme-color('primary');
	margin-right: 20px;
}
.app-landing-counter .counter-content .counter-box .count-text {
	font-size: 36px;
	line-height: 46px;
	color: #1c144e;
	font-weight: 600;
}
.app-landing-counter .counter-content .counter-box h5 {
	font-size: 18px;
	line-height: 26px;
	color: #666;
	font-weight: 500;
}
@media (max-width: 767.98px) {
	.app-landing-counter {
		padding: 30px 0;
   }
}
.app-why-choose-this {
	background-size: cover;
	background-position: center;
	padding: 100px 0;
	position: relative;
}
.app-why-choose-this .title {
	text-align: center;
	margin-bottom: 57px;
}
.app-why-choose-this .title span {
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 10px;
}
.app-why-choose-this .title h3 {
	font-size: 50px;
	line-height: 58px;
	margin-bottom: 24px;
	font-weight: 700;
	color: #fff;
}
.app-why-choose-this .title p {
	font-size: 18px;
	color: #e1dede;
	max-width: 720px;
	line-height: 26px;
	margin: 0 auto;
}
.app-why-choose-this .why-choose-content {
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 6px;
	padding: 40px 30px 15px 30px;
	margin-bottom: 30px;
	background-color: rgba(0, 0, 0, );
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.app-why-choose-this .why-choose-content .why-icon span {
	padding: 32px;
	line-height: 1;
	border-radius: 50%;
	background-color: theme-color('primary');
	box-shadow: 0px 26px 68px 0px rgba(42, 0, 117, 0.4);
	text-align: center;
	color: #fff;
	margin-bottom: 27px;
}
.app-why-choose-this .why-choose-content .info h4 {
	font-size: 22px;
	line-height: 32px;
	color: #fff;
	font-weight: 700;
}
.app-why-choose-this .why-choose-content .info p {
	font-size: 18px;
	line-height: 26px;
	color: rgba(255, 255, 255, 0.8);
}
.app-why-choose-this .why-choose-content:hover {
	background-color: #fff;
}
.app-why-choose-this .why-choose-content:hover .info h4 {
	color: #1c144e;
}
.app-why-choose-this .why-choose-content:hover .info p {
	color: #666;
}
@media (max-width: 767.98px) {
	.app-why-choose-this {
		padding: 70px 0;
   }
	.app-why-choose-this .title span {
		font-size: 18px;
		line-height: 28px;
   }
	.app-why-choose-this .title h3 {
		font-size: 35px;
		line-height: 40px;
		margin-bottom: 24px;
   }
	.app-why-choose-this .title p {
		font-size: 16px;
   }
}
.app-how-it-work {
	position: relative;
	background-size: cover;
	background-position: center;
	padding: 100px 0;
}
.app-how-it-work .title {
	text-align: center;
	margin-bottom: 57px;
}
.app-how-it-work .title span {
	color: theme-color('secondary');
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 10px;
}
.app-how-it-work .title h3 {
	font-size: 50px;
	line-height: 58px;
	margin-bottom: 24px;
	font-weight: 700;
	color: #1c144e;
}
.app-how-it-work .title p {
	font-size: 18px;
	color: #777;
	max-width: 720px;
	line-height: 26px;
	margin: 0 auto;
}
.app-how-it-work .tabs-content {
	border: none;
	border-radius: 0;
}
.app-how-it-work .tabs-content .card-header {
	margin-bottom: 50px;
	padding: 0;
	background-color: unset;
	border-bottom: none;
}
.app-how-it-work .tabs-content ul {
	text-align: center;
	margin-top: 18px;
	justify-content: center;
}
.app-how-it-work .tabs-content ul li:last-child {
	border-right: none;
}
.app-how-it-work .tabs-content ul li {
	display: inline-block;
	border-right: 1px solid #b1aeb6;
}
.app-how-it-work .tabs-content ul li .nav-link {
	border: none;
	height: 70px;
	line-height: 70px;
	padding: 0 30px;
	color: #1c144e;
	background-color: #f6f2fd;
	font-size: 18px;
	font-weight: 500;
	position: relative;
}
.app-how-it-work .tabs-content ul li .nav-link span {
	font-size: 30px;
	position: relative;
	top: 5px;
	color: theme-color('secondary');
}
.app-how-it-work .tabs-content ul li .nav-link .number {
	position: absolute;
	top: -20px;
	right: 30px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #e877cb;
	text-align: center;
	line-height: 40px;
	font-weight: 600;
	color: #fff;
	border: 2px solid #fff;
	font-size: 16px;
}
.app-how-it-work .tabs-content ul li .nav-link.active {
	color: #fff;
	background-color: theme-color('primary');
}
.app-how-it-work .tabs-content ul li .nav-link.active span {
	color: #fff;
}
.app-how-it-work .tabs-content .tab-content {
	border: none;
	border-radius: 0;
	padding: 0;
}
.app-how-it-work .tabs-content .tab-content .content h4 {
	font-size: 24px;
	line-height: 34px;
	margin-bottom: 15px;
	color: #1c144e;
	font-weight: 700;
}
.app-how-it-work .tabs-content .tab-content .content p {
	font-size: 18px;
	color: #666;
	line-height: 1.625;
}
@media (max-width: 767.98px) {
	.app-how-it-work .title span {
		font-size: 18px;
		line-height: 28px;
   }
	.app-how-it-work .title h3 {
		font-size: 35px;
		line-height: 40px;
		margin-bottom: 24px;
   }
	.app-how-it-work .title p {
		font-size: 16px;
   }
	.app-how-it-work .tabs-content ul li {
		border-right: none;
   }
	.app-how-it-work .tabs-content ul li .nav-link {
		margin-bottom: 30px;
   }
}
.app-screenshots {
	padding: 50px 0;
	position: relative;
}
.app-screenshots .title {
	text-align: center;
	margin-bottom: 57px;
}
.app-screenshots .title span {
	color: theme-color('secondary');
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 10px;
}
.app-screenshots .title h3 {
	font-size: 50px;
	line-height: 58px;
	margin-bottom: 24px;
	font-weight: 700;
	color: #1c144e;
}
.app-screenshots .title p {
	font-size: 18px;
	color: #777;
	max-width: 720px;
	line-height: 26px;
	margin: 0 auto;
}
.app-screenshots .carousel-indicators {
	bottom: -60px;
}
.app-screenshots .carousel-indicators li {
	position: relative;
	width: 12px !important;
	height: 12px !important;
	border-radius: 50% !important;
	margin: 5px;
	background-color: #e5e5e5;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.app-screenshots .carousel-indicators li.active {
	background-color: theme-color('primary') !important;
}
.app-screenshots .carousel-indicators li:hover {
	background-color: theme-color('primary') !important;
}
@media (max-width: 767.98px) {
	.app-screenshots .title span {
		font-size: 18px;
		line-height: 28px;
   }
	.app-screenshots .title h3 {
		font-size: 35px;
		line-height: 40px;
		margin-bottom: 24px;
   }
	.app-screenshots .title p {
		font-size: 16px;
   }
	.app-screenshots .service-img {
		padding: 0 30px !important;
		margin-bottom: 30px;
   }
	.app-screenshots .carousel-indicators {
		bottom: -20px;
   }
}
.app-testimonial {
	position: relative;
	background-size: cover;
	background-position: center;
	padding: 100px 0;
}
.app-testimonial .title {
	text-align: center;
	margin-bottom: 57px;
}
.app-testimonial .title span {
	color: theme-color('secondary');
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 10px;
}
.app-testimonial .title h3 {
	font-size: 50px;
	line-height: 58px;
	margin-bottom: 24px;
	font-weight: 700;
	color: #1c144e;
}
.app-testimonial .title p {
	font-size: 18px;
	color: #777;
	max-width: 720px;
	line-height: 26px;
	margin: 0 auto;
}
.app-testimonial .s_carousel_wrapper {
	width: 100%;
}
.app-testimonial .s_carousel_wrapper .single-testimonial {
	position: relative;
	z-index: 0;
	width: 100%;
}
.app-testimonial .s_carousel_wrapper .content {
	position: absolute;
	right: 0;
	top: 50%;
	width: 50%;
	background-color: #fff;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
	margin-right: 30px;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.app-testimonial .s_carousel_wrapper .content .inner-content {
	text-align: center;
	padding: 50px 50px 43px 50px;
}
.app-testimonial .s_carousel_wrapper .content .icon span {
	position: absolute;
	top: -40px;
	left: 50%;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: theme-color('primary');
	line-height: 80px;
	color: #fff;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 16px;
}
.app-testimonial .s_carousel_wrapper .content p {
	font-size: 24px;
	line-height: 34px;
	margin-top: 15px;
}
.app-testimonial .s_carousel_wrapper .content .auther {
	margin-top: 33px;
}
.app-testimonial .s_carousel_wrapper .content .auther h4 {
	font-size: 18px;
	text-transform: uppercase;
	color: #1c144e;
	font-weight: 700;
}
.app-testimonial .s_carousel_wrapper .content .auther span {
	font-size: 14px;
	color: #666;
}
.app-testimonial .carousel-indicators {
	bottom: -50px;
}
.app-testimonial .carousel-indicators li {
	position: relative;
	width: 12px !important;
	height: 12px !important;
	border-radius: 50% !important;
	margin: 5px;
	background-color: #e5e5e5;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.app-testimonial .carousel-indicators li.active {
	background-color: theme-color('primary') !important;
}
.app-testimonial .carousel-indicators li:hover {
	background-color: theme-color('primary') !important;
}
@media (max-width: 767.98px) {
	.app-testimonial .title span {
		font-size: 18px;
		line-height: 28px;
   }
	.app-testimonial .title h3 {
		font-size: 35px;
		line-height: 40px;
		margin-bottom: 24px;
   }
	.app-testimonial .title p {
		font-size: 16px;
   }
	.app-testimonial .bs-slider .thumb {
		width: 100%;
		height: 530px;
   }
	.app-testimonial .bs-slider .content {
		width: 100%;
		margin-right: 0;
		top: 90%;
   }
	.app-testimonial .carousel-indicators {
		bottom: -70px;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.app-testimonial .bs-slider .content {
		right: -50px;
		top: auto;
		bottom: 0;
   }
}
.app-pricing-plan {
	background-size: cover;
	background-position: center;
	padding: 100px 0;
	position: relative;
}
.app-pricing-plan .title {
	text-align: center;
	margin-bottom: 57px;
}
.app-pricing-plan .title span {
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 10px;
}
.app-pricing-plan .title h3 {
	font-size: 50px;
	line-height: 58px;
	margin-bottom: 24px;
	font-weight: 700;
	color: #fff;
}
.app-pricing-plan .title p {
	font-size: 18px;
	color: #e1dede;
	max-width: 720px;
	line-height: 26px;
	margin: 0 auto;
}
.app-pricing-plan .pricing-plan-content {
	text-align: center;
	background-color: rgba(121, 71, 224, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	padding: 52px 0 60px 0;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	margin-bottom: 30px;
}
.app-pricing-plan .pricing-plan-content .price-header h4 {
	font-size: 18px;
	line-height: 28px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 15px;
	color: #fff;
	transition: all 0.3s ease-in;
}
.app-pricing-plan .pricing-plan-content .price-header .price-info {
	margin-bottom: 36px;
	transition: all 0.3s ease-in;
}
.app-pricing-plan .pricing-plan-content .price-header .price-info .price {
	font-size: 48px;
	line-height: 58px;
	color: #fff;
}
.app-pricing-plan .pricing-plan-content .price-header .price-info .month {
	color: rgba(255, 255, 255, 0.8);
	font-size: 16px;
}
.app-pricing-plan .pricing-plan-content .price-body ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.app-pricing-plan .pricing-plan-content .price-body li {
	margin: 15px 0;
	color: rgba(255, 255, 255, 0.8);
	font-size: 18px;
	transition: all 0.3s ease-in;
}
.app-pricing-plan .pricing-plan-content .price-footer {
	margin-top: 48px;
}
.app-pricing-plan .pricing-plan-content .price-footer a {
	border-radius: 30px;
	background-color: theme-color('primary');
	border-color: theme-color('primary');
	text-align: center;
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 600;
	color: #fff;
	padding: 14px 48px;
}
.app-pricing-plan .pricing-plan-content:hover {
	background-color: #fff;
}
.app-pricing-plan .pricing-plan-content:hover .price-header h4 {
	color: #1c144e;
}
.app-pricing-plan .pricing-plan-content:hover .price-header .price-info .price {
	color: #1c144e;
}
.app-pricing-plan .pricing-plan-content:hover .price-header .price-info .month {
	color: #666;
}
.app-pricing-plan .pricing-plan-content:hover .price-body li {
	color: #666;
}
@media (max-width: 767.98px) {
	.app-pricing-plan .title span {
		font-size: 18px;
		line-height: 28px;
   }
	.app-pricing-plan .title h3 {
		font-size: 35px;
		line-height: 40px;
		margin-bottom: 24px;
   }
	.app-pricing-plan .title p {
		font-size: 16px;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.app-pricing-plan .pricing-plan-content {
		padding: 40px 0;
   }
	.app-pricing-plan .pricing-plan-content .price-footer a {
		padding: 14px 30px;
   }
}
.app-team {
	padding: 50px 0;
	position: relative;
}
.app-team .title {
	text-align: center;
	margin-bottom: 57px;
}
.app-team .title span {
	color: theme-color('secondary');
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 10px;
}
.app-team .title h3 {
	font-size: 50px;
	line-height: 58px;
	margin-bottom: 24px;
	font-weight: 700;
	color: #1c144e;
}
.app-team .title p {
	font-size: 18px;
	color: #777;
	max-width: 720px;
	line-height: 26px;
	margin: 0 auto;
}
.app-team .s_carousel_wrapper .single-member .image {
	display: inline-block;
	background-color: white;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(22, 12, 43, 0.18);
	box-shadow: 0px 0px 15px 0px rgba(22, 12, 43, 0.18);
	border-radius: 50%;
	border: 8px solid #fff;
	position: relative;
	z-index: 0;
	margin-bottom: 27px;
	margin-top: 20px;
}
.app-team .s_carousel_wrapper .single-member .image img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.app-team .s_carousel_wrapper .single-member .image .img-hover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.app-team .s_carousel_wrapper .single-member .image .img-hover ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	left: 50%;
	bottom: 30px;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.app-team .s_carousel_wrapper .single-member .image .img-hover ul li {
	display: inline-block;
	margin: 0 5px;
}
.app-team .s_carousel_wrapper .single-member .image .img-hover ul a {
	display: block;
	color: #fff;
}
.app-team .s_carousel_wrapper .single-member .content h4 {
	font-size: 22px;
	line-height: 28px;
	color: #283659;
	margin-bottom: 5px;
	font-weight: 700;
}
.app-team .s_carousel_wrapper .single-member .content span {
	font-size: 14px;
	line-height: 24px;
	color: #666;
}
.app-team .s_carousel_wrapper .single-member:hover .image .img-hover {
	visibility: visible;
	opacity: 1;
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.app-team .carousel-indicators {
	bottom: -70px;
}
.app-team .carousel-indicators li {
	position: relative;
	width: 12px !important;
	height: 12px !important;
	border-radius: 50% !important;
	margin: 5px;
	background-color: #e5e5e5;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.app-team .carousel-indicators li.active {
	background-color: theme-color('primary') !important;
}
.app-team .carousel-indicators li:hover {
	background-color: theme-color('primary') !important;
}
@media (max-width: 767.98px) {
	.app-team .title span {
		font-size: 18px;
		line-height: 28px;
   }
	.app-team .title h3 {
		font-size: 35px;
		line-height: 40px;
		margin-bottom: 24px;
   }
	.app-team .title p {
		font-size: 16px;
   }
	.app-team .carousel-indicators {
		bottom: -50px;
   }
}
.editor_enable .app-team .img-hover {
	visibility: visible !important;
	opacity: 1 !important;
	-ms-transform: scale(1) !important;
	-webkit-transform: scale(1) !important;
	transform: scale(1) !important;
	top: 35px !important;
}
.app-download .download-inner {
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
	text-align: center;
	padding: 100px;
	margin-top: 50px;
	margin-bottom: 20px;
}
.app-download .download-inner .subtitle {
	font-size: 20px;
	line-height: 30px;
	color: theme-color('secondary');
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 10px;
}
.app-download .download-inner h3 {
	font-size: 48px;
	line-height: 58px;
	margin-bottom: 10px;
	font-weight: 700;
	color: #1c144e;
}
.app-download .download-inner p {
	font-size: 16px;
	color: #666;
	line-height: 1.625;
	max-width: 750px;
	margin: 0 auto;
}
.app-download .download-inner .btn {
	box-shadow: 0px 3px 20px 0px rgba(13, 21, 75, 0.3);
	text-transform: capitalize;
	border-radius: 30px;
	padding: 16px 24px;
	font-size: 16px;
	font-weight: 600;
	margin: 10px;
}
@media (max-width: 767.98px) {
	.app-download .download-inner {
		padding: 80px 40px;
   }
	.app-download .download-inner .subtitle {
		font-size: 16px;
		line-height: 26px;
   }
	.app-download .download-inner h3 {
		font-size: 29px;
		line-height: 40px;
   }
	.app-download .download-inner .s_btn a {
		display: block !important;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.app-download .download-inner {
		padding: 80px 40px;
   }
}
.app-contact-us {
	background-size: cover;
	background-position: center;
	padding: 100px 0;
	position: relative;
}
.app-contact-us .title {
	margin-bottom: 57px;
}
.app-contact-us .title span {
	color: theme-color('secondary');
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 10px;
}
.app-contact-us .title h3 {
	font-size: 50px;
	line-height: 58px;
	margin-bottom: 24px;
	font-weight: 700;
	color: #1c144e;
}
.app-contact-us .title p {
	font-size: 18px;
	color: #777;
	max-width: 720px;
	line-height: 26px;
	margin: 0 auto;
}
.app-contact-us .form input {
	border: 1px solid #ededed;
	height: 60px;
	padding: 20px;
	color: #495057;
	background-color: #fff;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	font-size: 16px;
}
.app-contact-us .form textarea {
	border: 1px solid #ededed;
	height: 150px;
	padding: 20px;
	color: #495057;
	background-color: #fff;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	font-size: 16px;
}
.app-contact-us .btn {
	box-shadow: 0px 3px 20px 0px rgba(13, 21, 75, 0.3);
	text-transform: capitalize;
	border-radius: 30px;
	padding: 16px 24px;
	font-size: 16px;
	font-weight: 600;
	margin: 0 10px;
}
@media (max-width: 767.98px) {
	.app-contact-us {
		padding: 50px 0;
   }
	.app-contact-us .title span {
		font-size: 18px;
		line-height: 28px;
   }
	.app-contact-us .title h3 {
		font-size: 35px;
		line-height: 40px;
		margin-bottom: 24px;
   }
	.app-contact-us .title p {
		font-size: 16px;
   }
	.app-contact-us .image {
		display: none;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.app-contact-us .image {
		display: none;
   }
}
