.consult_pages .font-large {
    font-size: large;
}
.consult_pages .title {
    color: theme-color('primary');
}
.consult_pages .subtitle {
    color: #686777;
    line-height: 30px !important;
}
.consult_pages p {
    color: #686777;
}
.consult-one-banner {
    padding: 240px 0;
}
@media (max-width: 767.98px) {
    .consult-one-banner {
        padding-top: 120px !important;
        padding-bottom: 64px !important;
   }
}
.consult-one-banner .play_btn {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.consult-one-banner .play_btn span {
    line-height: 1;
    padding: 45px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    animation: mymove 5s infinite;
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.consult-one-banner .play_btn span:hover {
    background-color: #fff;
    color: theme-color('primary');
}
@keyframes mymove {
    50% {
        border: 20px solid rgba(255, 255, 255, 0.2);
   }
}
.consult-one-features {
    transform: translateY(-100px);
}
.consult-one-features .border_with_radius {
    border-radius: 10px;
    overflow: hidden;
}
.consult-one-features .border_with_radius > * {
    position: relative;
}
.consult-one-features .border_with_radius > *::before {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    z-index: 1;
    background-color: #ad40fc;
}
.consult-one-features .border_with_radius > *:last-child::before {
    display: none;
}
.consult-one-features .feature_content {
    position: relative;
}
.consult-one-features .feature_content .feature_detail {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    transition: all 0.3s ease-out 0s;
}
.consult-one-features .feature_content .feature_detail .forward_btn {
    display: none;
}
.consult-one-features .feature_content .overlay_box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(-180deg, #dd24ff, #841ff9);
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transition: 0.3s;
}
.consult-one-features .feature_content:hover .feature_detail {
    transform: translateY(-75%);
}
.consult-one-features .feature_content:hover .feature_detail .forward_btn {
    display: block;
}
.consult-one-features .feature_content:hover .overlay_box {
    visibility: hidden;
    opacity: 0;
}
@media (max-width: 767px) {
    .consult-one-features {
        transform: translateY(0);
        padding: 64px 0;
   }
}
.editor_enable .consult-one-features .feature_content .overlay_box {
    top: 50% !important;
    opacity: 1 !important;
}
.editor_enable .consult-one-features .feature_content .forward_btn {
    display: block !important;
}
.editor_enable .consult-one-features .feature_content:hover .feature_detail {
    transform: translateY(-50%) !important;
}
.editor_enable .consult-one-features .feature_content:hover .overlay_box {
    visibility: visible !important;
}
.consult-one-about {
    padding: 24px 0 120px 0;
}
@media (max-width: 767px) {
    .consult-one-about {
        padding: 0 0 64px 0;
   }
}
.consult-one-about .about_ul {
    display: flex;
    flex-flow: row wrap;
}
.consult-one-about .about_ul section {
    width: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    margin-bottom: 15px;
    display: flex;
    align-items: baseline;
    word-break: break-all;
}
.consult-one-about .about_ul section .about_list {
    display: flex;
    align-items: center;
    width: unset;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.consult-one-about .about_ul section .about_list::before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    line-height: 1;
    padding: 2px;
    color: theme-color('primary');
    background-color: #ecebff;
    border-radius: 50%;
    margin-right: 8px;
}
.consult-one-about .about_ul section:hover {
    color: theme-color('primary');
}
.consult-one-about .about_ul section:hover .about_list::before {
    background-color: theme-color('primary');
    color: #fff;
}
.editor_enable .consult-one-about .left_shape {
    z-index: 0;
}
.consult-one-strrtagy {
    position: relative;
    background-color: #1b133f;
}
.consult-one-strrtagy .strrtagy_content {
    padding: 240px 0;
}
@media (max-width: 1199.98px) {
    .consult-one-strrtagy .strrtagy_content {
        padding: 120px 0;
   }
}
@media (max-width: 767px) {
    .consult-one-strrtagy .strrtagy_content {
        padding: 64px 0;
   }
}
.consult-one-strrtagy .strrtagy_list li {
    margin-bottom: 24px;
    color: #777689;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.consult-one-strrtagy .strrtagy_list li:hover {
    color: #fff;
}
.consult-one-strrtagy .right_img {
    position: absolute;
    top: 0;
    right: 0;
}
.consult-one-services {
    padding: 120px 0 80px 0;
}
@media (max-width: 767px) {
    .consult-one-services {
        padding: 64px 0;
   }
}
.consult-one-services .service_icon {
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.consult-one-services .service_icon:hover {
    transform: translateY(-10px);
}
.consult-one-services .service_btn {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    color: unset;
}
.consult-one-services .service_btn:hover {
    color: theme-color('primary');
}
.consult-one-counters {
    padding-bottom: 120px;
}
@media (max-width: 767px) {
    .consult-one-counters {
        padding-bottom: 64px;
   }
}
.consult-one-counters .counter_box {
    border-radius: 15px;
    box-shadow: 0 40px 80px 0 rgba(43, 2, 89, 0.1);
}
.consult-one-team {
    background-color: #f3f2f8;
    padding: 0 0 120px 0;
}
@media (max-width: 767px) {
    .consult-one-team {
        padding: 64px 0;
   }
}
.consult-one-team .team_content {
    background-color: #423d7c;
    border-radius: 20px;
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.consult-one-team .team_content .overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    background-image: linear-gradient(-180deg, #dd24ff, #841ff9);
    opacity: 0;
    z-index: -1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.consult-one-team .team_content .overlay-detail {
    position: absolute;
    top: 0;
    left: 30px;
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.consult-one-team .team_content .overlay-icons {
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.consult-one-team .team_content .overlay-icons i {
    line-height: 1;
    padding: 20px;
    background-color: #7b23de;
    color: #fff;
    border-radius: 6px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.consult-one-team .team_content .overlay-icons i:hover {
    color: #7b23de;
    background-color: #fff;
}
.consult-one-team .team_content:hover .overlay-bg {
    z-index: 1;
    opacity: 1;
}
.consult-one-team .team_content:hover .overlay-detail {
    transform: translateY(20px);
    z-index: 2;
    opacity: 1;
}
.consult-one-team .team_content:hover .overlay-icons {
    transform: translateY(-20px);
    z-index: 2;
    opacity: 1;
}
.editor_enable .consult-one-team {
    margin-bottom: 500px !important;
}
.editor_enable .consult-one-team .team_content .overlay-bg {
    top: 100% !important;
    visibility: visible !important;
    opacity: 1 !important;
    height: 100% !important;
    z-index: 1;
}
.editor_enable .consult-one-team .team_content .overlay-detail {
    top: 100% !important;
    transform: translateY(20px) !important;
    opacity: 1 !important;
    z-index: 1;
}
.editor_enable .consult-one-team .team_content .overlay-icons {
    transform: translateY(-20px) !important;
    bottom: -100% !important;
    opacity: 1 !important;
    z-index: 1;
}
.consult-one-work {
    padding: 240px 0;
}
@media (max-width: 767px) {
    .consult-one-work {
        padding: 120px 0;
   }
}
.consult-one-pricing {
    padding: 120px 0;
}
@media (max-width: 767px) {
    .consult-one-pricing {
        padding: 64px 0;
   }
}
.consult-one-pricing .offer {
    margin: 0 0 40px 120px;
    position: relative;
    background: #e9f7e6;
    border-radius: 12px;
    color: #25ad0a;
}
.consult-one-pricing .offer img {
    position: absolute;
    right: 70%;
    top: 75%;
}
.consult-one-pricing .s_tabs_nav .nav-pills {
    width: fit-content;
    background-color: #f4f5fd;
    padding: 5px;
    border-radius: 6px;
}
.consult-one-pricing .s_tabs_nav .nav-pills .nav-item {
    margin-right: 14px;
}
.consult-one-pricing .s_tabs_nav .nav-pills .nav-item:last-child {
    margin-right: 0;
}
.consult-one-pricing .s_tabs_nav .nav-pills .nav-link {
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
}
.consult-one-pricing .s_tabs_nav .nav-pills .nav-link.active {
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(11, 0, 65, 0.06);
    color: theme-color('primary');
}
.consult-one-pricing .s_tabs_nav .nav-pills .nav-link:not(.active) {
    background-color: transparent;
    box-shadow: 0 2px 6px 0 rgba(11, 0, 65, 0.06);
    color: #490ebe;
}
.consult-one-pricing .s_tabs_content .consult_pricing_content {
    border: 2px solid theme-color('primary');
    border-radius: 10px;
    padding: 60px 60px 50px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.consult-one-pricing .s_tabs_content .consult_pricing_content li {
    margin-bottom: 15px;
    color: #87878b;
}
.consult-one-pricing .s_tabs_content .consult_pricing_content:not(.active) .btn {
    border-color: theme-color('primary');
    color: #fff;
    background-color: theme-color('primary');
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.consult-one-pricing .s_tabs_content .consult_pricing_content:not(.active):hover .btn {
    border-color: #fff;
    color: #000;
    background-color: #fff;
}
.consult-one-pricing .s_tabs_content .consult_pricing_content.active, .consult-one-pricing .s_tabs_content .consult_pricing_content:hover {
    background-color: #490ebe;
    color: #fff;
}
.consult-one-pricing .s_tabs_content .consult_pricing_content.active h1, .consult-one-pricing .s_tabs_content .consult_pricing_content:hover h1, .consult-one-pricing .s_tabs_content .consult_pricing_content.active h2, .consult-one-pricing .s_tabs_content .consult_pricing_content:hover h2, .consult-one-pricing .s_tabs_content .consult_pricing_content.active h3, .consult-one-pricing .s_tabs_content .consult_pricing_content:hover h3, .consult-one-pricing .s_tabs_content .consult_pricing_content.active h4, .consult-one-pricing .s_tabs_content .consult_pricing_content:hover h4, .consult-one-pricing .s_tabs_content .consult_pricing_content.active h5, .consult-one-pricing .s_tabs_content .consult_pricing_content:hover h5, .consult-one-pricing .s_tabs_content .consult_pricing_content.active h6, .consult-one-pricing .s_tabs_content .consult_pricing_content:hover h6, .consult-one-pricing .s_tabs_content .consult_pricing_content.active .h1, .consult-one-pricing .s_tabs_content .consult_pricing_content:hover .h1, .consult-one-pricing .s_tabs_content .consult_pricing_content.active .h2, .consult-one-pricing .s_tabs_content .consult_pricing_content:hover .h2, .consult-one-pricing .s_tabs_content .consult_pricing_content.active .h3, .consult-one-pricing .s_tabs_content .consult_pricing_content:hover .h3, .consult-one-pricing .s_tabs_content .consult_pricing_content.active .h4, .consult-one-pricing .s_tabs_content .consult_pricing_content:hover .h4, .consult-one-pricing .s_tabs_content .consult_pricing_content.active .h5, .consult-one-pricing .s_tabs_content .consult_pricing_content:hover .h5, .consult-one-pricing .s_tabs_content .consult_pricing_content.active .h6, .consult-one-pricing .s_tabs_content .consult_pricing_content:hover .h6 {
    color: #fff !important;
}
.consult-one-pricing .s_tabs_content .consult_pricing_content.active li, .consult-one-pricing .s_tabs_content .consult_pricing_content:hover li {
    color: #fff;
}
.consult-one-contact {
    min-height: 750px !important;
    margin-top: 80px;
}
@media (max-width: 767px) {
    .consult-one-contact {
        min-height: 1050px !important;
        margin-top: 16px;
   }
}
.consult-one-contact .contact_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 65px;
}
@media (max-width: 767px) {
    .consult-one-contact .contact_content {
        padding: 15px;
   }
}
.consult-one-contact .contact_content .contact__info a {
    color: unset !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.consult-one-contact .contact_content .contact__info a:hover {
    color: theme-color('primary');
}
.consult-one-contact .contact_content .s_website_form .form-group .form-control:not(textarea) {
    background-color: #f5f5f5 !important;
    height: 50px;
    border: unset;
    border-radius: 10px;
}
.consult-one-contact .contact_content .s_website_form .form-group .form-control:not(textarea)::placeholder {
    font-size: 14px !important;
}
.consult-one-contact .contact_content .s_website_form .form-group .form-control:not(textarea):focus {
    border: 2px solid theme-color('primary') !important;
    box-shadow: unset !important;
}
.consult-one-contact .contact_content .s_website_form .form-group textarea {
    background-color: #f5f5f5;
    border: unset;
    border-radius: 10px;
}
.consult-one-contact .contact_content .s_website_form .form-group textarea::placeholder {
    font-size: 14px !important;
    margin-top: 4px !important;
}
.consult-one-contact .contact_content .s_website_form .form-group textarea:focus {
    border: 2px solid theme-color('primary') !important;
    box-shadow: unset !important;
}
