.cyber-security-banner {
	background-size: cover;
	background-position: center;
}
.cyber-security-banner .content h3 {
	color: theme-color('primary');
	padding-left: 40px;
	font-size: 18px;
	position: relative;
	font-weight: 600;
}
.cyber-security-banner .content h3:before {
	content: '';
	background-color: theme-color('primary');
	position: absolute;
	top: 50%;
	left: 0;
	width: 30px;
	height: 2px;
}
.cyber-security-banner .content h1 {
	font-size: 36px;
	line-height: 1.7;
	margin-bottom: 20px;
	font-weight: 600;
	color: #fff;
}
.cyber-security-banner .content h1 span {
	color: theme-color('primary');
}
.cyber-security-banner .content p {
	font-size: 18px;
	line-height: 1.9;
	margin-bottom: 30px;
	color: #d8d0d0;
}
.cyber-security-banner .content .s_btn {
	color: #fff;
	font-size: 1rem;
}
.cyber-security-banner .content .btn {
	border: 0;
	box-shadow: 0 20px 43px 0 rgba(216, 58, 131, .32);
	line-height: 48px;
	font-size: 12px;
	font-weight: 600;
	padding: 0 30px;
	text-transform: uppercase;
}
.cyber-security-banner .content .video-bnt span {
	padding: 25px;
	line-height: 1;
	border-radius: 50%;
	text-align: center;
	background-color: theme-color('primary');
	color: white;
}
@media (max-width: 767.98px) {
	.cyber-security-banner {
		padding: 50px 0 !important;
   }
	.cyber-security-banner .content p {
		font-size: 15px;
   }
}
.cyber-security-plateform {
	padding: 80px 0;
}
.cyber-security-plateform .content span {
	color: theme-color('primary');
	font-weight: bold;
	font-size: 1rem;
	margin-bottom: 10px;
	display: inline-block;
}
.cyber-security-plateform .content h2 {
	font-size: 30px;
	color: #222;
	line-height: 1.4;
	font-weight: 600;
	margin-bottom: 20px !important;
}
.cyber-security-plateform .content p {
	line-height: 1.9;
	font-weight: 400;
	color: #888;
	font-size: 15px;
}
.cyber-security-plateform .list-items .item {
	padding: 10px 0;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	display: flex;
}
.cyber-security-plateform .list-items .item span {
	color: theme-color('primary');
	display: inline-table;
}
.cyber-security-plateform .list-items .item h3 {
	font-weight: 500;
	color: #42526e;
	font-size: 16px;
	line-height: 20px;
}
@media (max-width: 767.98px) {
	.cyber-security-plateform {
		padding: 50px 0 !important;
   }
	.cyber-security-plateform .content h2 {
		font-size: 24px;
   }
}
.cyber-security-features {
	background-size: cover;
	background-position: center;
	padding: 80px 0;
}
.cyber-security-features .heading {
	margin-bottom: 80px;
}
.cyber-security-features .heading span {
	color: theme-color('primary');
	font-weight: bold;
	font-size: 1rem;
	margin-bottom: 10px;
	display: inline-block;
}
.cyber-security-features .heading h2 {
	font-size: 30px;
	color: #222;
	line-height: 1.4;
	font-weight: 600;
	margin-bottom: 20px !important;
}
.cyber-security-features .heading p {
	line-height: 1.9;
	font-weight: 400;
	color: #888;
	font-size: 15px;
	width: 60%;
	margin: auto;
}
.cyber-security-features .feature-content {
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 5px 40px 0 rgba(0, 0, 0, .11);
	border: 2px dashed theme-color('primary');
	padding: 40px 20px;
	margin-bottom: 30px !important;
}
.cyber-security-features .feature-content .feature-icon {
	margin-bottom: 30px;
}
.cyber-security-features .feature-content .feature-icon span {
	color: theme-color('primary');
}
.cyber-security-features .feature-content h6 {
	color: #222;
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 1.4;
	font-weight: 500;
}
.cyber-security-features .feature-content p {
	color: #888;
	font-size: 15px;
	line-height: 1.9;
}
.cyber-security-features .feature-content2 {
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 5px 40px 0 rgba(0, 0, 0, .11);
	border: 2px dashed theme-color('secondary');
	padding: 40px 20px;
	margin-bottom: 30px !important;
}
.cyber-security-features .feature-content2 .feature-icon span {
	padding: 42px;
	line-height: 1;
	background-color: #edf6fd;
	text-align: center;
	border: 2px dashed theme-color('secondary');
	margin: 0 auto 30px;
	color: theme-color('secondary');
}
.cyber-security-features .feature-content2 h6 {
	color: #222;
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 1.4;
	font-weight: 500;
}
.cyber-security-features .feature-content2 p {
	color: #888;
	font-size: 15px;
	line-height: 1.9;
}
@media (max-width: 767.98px) {
	.cyber-security-features {
		padding: 50px 0 !important;
   }
	.cyber-security-features .heading {
		margin-bottom: 50px;
   }
	.cyber-security-features .heading p {
		width: 100%;
   }
}
.cyber-security-work {
	background-size: cover;
	background-position: center;
	padding: 80px 0;
}
.cyber-security-work .heading {
	margin-bottom: 80px;
}
.cyber-security-work .heading span {
	color: theme-color('primary');
	font-weight: bold;
	font-size: 1rem;
	margin-bottom: 10px;
	display: inline-block;
}
.cyber-security-work .heading h2 {
	font-size: 30px;
	color: #222;
	line-height: 1.4;
	font-weight: 600;
	margin-bottom: 20px !important;
}
.cyber-security-work .heading p {
	line-height: 1.9;
	font-weight: 400;
	color: #888;
	font-size: 15px;
	width: 60%;
	margin: auto;
}
.cyber-security-work .content .service-block {
	position: relative;
	margin-bottom: 30px;
}
.cyber-security-work .content .service-block .work-icon span {
	padding: 42px;
	line-height: 1;
	background-color: #edf6fd;
	text-align: center;
	border: 2px dashed theme-color('primary');
	display: inline-table;
	margin-right: 20px;
	color: theme-color('primary');
}
.cyber-security-work .content .service-block .work-icon2 span {
	padding: 25px;
	text-align: center;
	border: 2px solid theme-color('primary');
	display: inline-table;
	margin-right: 20px;
	border-radius: 50%;
	color: theme-color('primary');
}
.cyber-security-work .content .service-block .work-info h3 {
	font-size: 18px;
	color: #222;
	line-height: 1.4;
	font-weight: 600;
	text-transform: capitalize;
}
.cyber-security-work .content .service-block .work-info p {
	line-height: 1.9;
	font-weight: 400;
	color: #888;
	font-size: 14px;
}
@media (max-width: 767.98px) {
	.cyber-security-work {
		padding: 50px 0 !important;
   }
	.cyber-security-work .heading {
		margin-bottom: 50px;
   }
	.cyber-security-work .heading p {
		width: 100%;
   }
	.cyber-security-work .heading .title {
		font-size: 24px;
   }
	.cyber-security-work .content .service-block .content-block {
		display: block !important;
		text-align: center;
   }
	.cyber-security-work .content .service-block .work-icon span {
		margin-bottom: 20px;
		margin-right: 0;
   }
	.cyber-security-work .content .service-block .work-icon2 span {
		margin-bottom: 20px;
		margin-right: 0;
   }
}
.our-service {
	background-color: #2c225a;
}
.cyber-security-faq {
	background-size: cover;
	background-position: center;
	padding: 80px 0;
}
.cyber-security-faq .heading {
	margin-bottom: 80px;
}
.cyber-security-faq .heading span {
	color: theme-color('primary');
	font-weight: bold;
	font-size: 1rem;
	margin-bottom: 10px;
	display: inline-block;
}
.cyber-security-faq .heading h2 {
	font-size: 30px;
	color: #222;
	line-height: 1.4;
	font-weight: 600;
	margin-bottom: 20px !important;
}
.cyber-security-faq .heading p {
	line-height: 1.9;
	font-weight: 400;
	color: #888;
	font-size: 15px;
	width: 60%;
	margin: auto;
}
.cyber-security-faq .collapse-accordion .card {
	margin-bottom: 0;
	border: none;
	background-color: unset !important;
}
.cyber-security-faq .collapse-accordion .card-header {
	background-color: unset !important;
	padding: 0 !important;
	border-bottom: none !important;
}
.cyber-security-faq .collapse-accordion .cart-title {
	margin: 0;
}
.cyber-security-faq .collapse-accordion a {
	border: 1px solid #f2f4f8;
	padding: 15px 25px;
	position: relative;
	color: #fff;
	background-color: theme-color('primary');
	font-size: 1rem;
	margin-bottom: 15px;
	display: inline-block;
	width: 100%;
	border-radius: 25px;
}
.cyber-security-faq .collapse-accordion a:not(.collapsed) {
	border-bottom: none !important;
}
.cyber-security-faq .collapse-accordion .content-body {
	padding: 15px 25px;
	border-radius: 0;
	font-size: 15px;
	border: none !important;
	color: #888;
}
@media (max-width: 767.98px) {
	.cyber-security-faq {
		padding: 50px 0 !important;
   }
	.cyber-security-faq .heading {
		margin-bottom: 50px;
   }
	.cyber-security-faq .heading p {
		width: 100%;
   }
}
.cyber-security-team {
	background-size: cover;
	background-position: center;
}
.cyber-security-team .heading {
	margin-bottom: 80px;
}
.cyber-security-team .heading span {
	color: theme-color('primary');
	font-weight: bold;
	font-size: 1rem;
	margin-bottom: 10px;
	display: inline-block;
}
.cyber-security-team .heading h2 {
	font-size: 30px;
	color: #222;
	line-height: 1.4;
	font-weight: 600;
	margin-bottom: 20px !important;
}
.cyber-security-team .heading p {
	line-height: 1.9;
	font-weight: 400;
	color: #888;
	font-size: 15px;
	width: 60%;
	margin: auto;
}
.cyber-security-team .team-content {
	border: 1px solid theme-color('secondary');
	border-radius: 30px;
	text-align: center;
	margin-bottom: 30px;
	overflow: hidden;
}
.cyber-security-team .team-content .team-image {
	position: relative;
	overflow: hidden;
}
.cyber-security-team .team-content .team-image img {
	margin-top: 30px;
	max-width: 80%;
	border-radius: 100%;
	border: 6px dotted theme-color('secondary');
	padding: 5px;
}
.cyber-security-team .team-content .team-image .social-icons {
	background-color: theme-color('primary');
	padding: 10px 0 10px 0;
	margin: 0;
	list-style: none;
	position: absolute;
	top: -100%;
	right: 30px;
	border-radius: 0 0 20px 20px;
	z-index: 1;
	transition: all 0.3s ease 0s;
}
.cyber-security-team .team-content .team-image .social-icons li a {
	display: block;
	padding: 10px 15px;
	font-size: 15px;
	color: #fff;
}
.cyber-security-team .team-content .team-image .social-icons li a:hover {
	color: #222;
}
.cyber-security-team .team-content .team-image:after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	position: absolute;
	bottom: -100%;
	left: 0;
	transition: all 0.3s ease 0s;
}
.cyber-security-team .team-content .team-info {
	padding: 20px 0 30px;
	background-color: #fff;
}
.cyber-security-team .team-content .team-info h4 {
	font-size: 16px;
	font-weight: 600;
	color: #000;
	text-transform: capitalize;
	margin: 0 0 20px;
	position: relative;
}
.cyber-security-team .team-content .team-info h4:before {
	content: "";
	width: 25px;
	height: 1px;
	background-color: #cea676;
	position: absolute;
	bottom: -10px;
	right: 50%;
	margin-right: 9px;
	transition-duration: 0.25s;
}
.cyber-security-team .team-content .team-info h4:after {
	content: "";
	width: 25px;
	height: 1px;
	background-color: #cea676;
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: 9px;
	transition-duration: 0.25s;
}
.cyber-security-team .team-content .team-info span {
	display: inline-block;
	font-size: 14px;
	color: #666;
	text-transform: capitalize;
}
.cyber-security-team .team-content .team-info span:before {
	content: "";
	display: block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #cea676;
	margin: 0 auto;
	position: relative;
	top: -13px;
}
.cyber-security-team .team-content:hover .team-image .social-icons {
	top: 0;
}
.cyber-security-team .team-content:hover .team-image:after {
	bottom: 0;
}
.cyber-security-team .team-content:hover .team-info h4:before {
	width: 50px;
}
.cyber-security-team .team-content:hover .team-info h4:after {
	width: 50px;
}
@media (max-width: 767.98px) {
	.cyber-security-team {
		padding: 50px 0 !important;
   }
	.cyber-security-team .heading {
		margin-bottom: 50px;
   }
	.cyber-security-team .heading p {
		width: 100%;
   }
}
.editor_enable .cyber-security-team .team-image .social-icons {
	top: 0 !important;
}
.editor_enable .cyber-security-team .team-image:after {
	position: unset !important;
}
.cyber-security-partners {
	background-size: cover;
	background-position: center;
	padding: 80px 0;
}
.cyber-security-partners .heading {
	margin-bottom: 80px;
}
.cyber-security-partners .heading span {
	color: theme-color('primary');
	font-weight: bold;
	font-size: 1rem;
	margin-bottom: 10px;
	display: inline-block;
}
.cyber-security-partners .heading h2 {
	font-size: 30px;
	color: #222;
	line-height: 1.4;
	font-weight: 600;
	margin-bottom: 20px !important;
}
.cyber-security-partners .heading p {
	line-height: 1.9;
	font-weight: 400;
	color: #888;
	font-size: 15px;
	width: 60%;
	margin: auto;
}
.cyber-security-partners .partner-member {
	padding: 10px;
	width: 100%;
	margin-bottom: 30px;
	background-color: #fff;
	transition: all 0.4s ease-in-out;
	border: 2px solid #eaeaea;
}
.cyber-security-partners .partner-member:hover {
	border-color: #1d66f6;
}
.cyber-security-partners .partner-member .image {
	text-align: center;
}
@media (max-width: 767.98px) {
	.cyber-security-partners {
		padding: 50px 0 !important;
   }
	.cyber-security-partners .heading {
		margin-bottom: 50px;
   }
	.cyber-security-partners .heading p {
		width: 100%;
   }
}
