.It-solution-home-banner {
	background-size: cover;
	background-position: center;
	padding: 180px 0;
	position: relative;
}
.It-solution-home-banner .banner-content h1 {
	text-align: left;
	font-weight: 800;
	line-height: 1em;
	margin: 0;
	font-size: 60px;
	color: theme-color('primary');
}
.It-solution-home-banner .banner-content p {
	padding: 30px 0 0 0;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.63;
	color: #5b6674;
}
.It-solution-home-banner .banner-content .btn {
	margin: 8px 13px;
	font-weight: 600;
	font-size: 14px;
	line-height: 17.5px;
	font-style: normal;
	padding: 20px 40px;
	text-decoration: none;
	border-radius: 5px;
	text-transform: uppercase;
}
@media (max-width: 767.98px) {
	.It-solution-home-banner {
		background-position: center right;
		background-size: cover;
		padding: 20px 0;
   }
	.It-solution-home-banner .banner-image {
		display: none;
   }
	.It-solution-home-banner .banner-content h1 {
		font-size: 35px;
		padding: 20px 0 0 0;
   }
	.It-solution-home-banner .banner-content .btn {
		padding: 15px 30px;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.It-solution-home-banner {
		background-position: center right;
		background-size: cover;
		padding: 48px 0;
   }
	.It-solution-home-banner .banner-content h1 {
		font-size: 28px;
		padding: 20px 0 0 0;
   }
	.It-solution-home-banner .banner-content p {
		font-size: 18px;
		padding: 15px 0 0 0;
   }
	.It-solution-home-banner .banner-content .btn {
		padding: 15px 30px;
   }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.It-solution-home-banner .banner-content h1 {
		font-size: 40px;
   }
}
.it-service-provide {
	background-position: 0 16px;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 0 100px 0;
	z-index: 20;
	position: relative;
}
.it-service-provide .heading h2 {
	font-weight: 800;
	line-height: 1.13;
	margin: 0;
	font-size: 45px;
	color: theme-color('primary');
}
.it-service-provide .heading h2:after {
	content: '';
	display: inline-block;
	width: calc(1em/100 * 18);
	height: calc(1em/100 * 18);
	background: theme-color('secondary');
	margin-left: 3px;
}
.it-service-provide .heading p {
	padding-top: 20px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.63;
	color: #5b6674;
}
.it-service-provide .service-content .service-container {
	padding: 50px 30px 50px 30px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 29px 12px rgba(64, 84, 178, .06);
	text-align: center;
}
.it-service-provide .service-content .service-container .image-icon {
	margin-bottom: 32px;
}
.it-service-provide .service-content .service-container .image-icon span {
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	border-radius: 50%;
}
.it-service-provide .service-content .service-container .image-icon .bg-1 {
	background-color: #fdd663;
}
.it-service-provide .service-content .service-container .image-icon .bg-2 {
	background-color: #ebf8ff;
}
.it-service-provide .service-content .service-container .image-icon .bg-3 {
	background-color: #ffbec8;
}
.it-service-provide .service-content .service-container .service-info h5 {
	margin-bottom: 26px;
	font-size: 22px;
	line-height: 1.35;
	font-weight: 900;
	color: theme-color('primary');
}
.it-service-provide .service-content .service-container .service-info p {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.63;
	color: #5b6674;
	margin: 0;
}
@media (max-width: 767.98px) {
	.it-service-provide {
		padding: 30px 0 0 0;
   }
	.it-service-provide .heading h2 {
		font-size: 35px;
   }
	.it-service-provide .heading p {
		font-size: 18px;
		line-height: 1.4;
   }
	.it-service-provide .service-content {
		margin-bottom: 20px;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.it-service-provide {
		padding: 50px 0;
   }
	.it-service-provide .service-content .service-container {
		padding: 40px 20px;
   }
	.it-service-provide .service-content .service-container .service-info h5 {
		margin-bottom: 15px;
		font-size: 20px;
   }
}
.it-image-counter {
	position: relative;
	padding: 100px 0;
}
.it-image-counter .counter-content h2 {
	font-size: 45px;
	line-height: 1.13;
	font-weight: 900;
	color: theme-color('primary');
	margin-bottom: 25px;
}
.it-image-counter .counter-content p {
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.63;
	color: #5b6674;
}
.it-image-counter .counter-content .counter-box .count-text {
	font-size: 45px;
	line-height: 1.13;
	font-weight: 900;
	color: theme-color('primary');
}
.it-image-counter .counter-content .counter-box h5 {
	font-size: 22px;
	line-height: 1.35;
	font-weight: 900;
	color: theme-color('primary');
}
@media (max-width: 767.98px) {
	.it-image-counter {
		padding: 20px 0;
   }
	.it-image-counter .counter-content h2 {
		font-size: 32px;
   }
	.it-image-counter .counter-content .counter-box .count-text {
		font-size: 32px;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.it-image-counter {
		padding: 30px 0;
   }
	.it-image-counter .row {
		align-items: center;
   }
	.it-image-counter .counter-content h2 {
		font-size: 33px;
   }
	.it-image-counter .counter-content .counter-box .count-text {
		font-size: 32px;
   }
}
.it-image-text {
	position: relative;
	padding: 80px 0 0 0;
}
.it-image-text .text-content h2 {
	font-size: 45px;
	line-height: 1.13;
	font-weight: 900;
	color: theme-color('primary');
	margin-bottom: 25px;
}
.it-image-text .text-content p {
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.63;
	color: #5b6674;
}
.it-image-text .text-content .btn {
	margin: 8px 13px;
	font-weight: 600;
	font-size: 14px;
	line-height: 17.5px;
	font-style: normal;
	padding: 20px 40px;
	text-decoration: none;
	border-radius: 5px;
	text-transform: uppercase;
}
@media (max-width: 767.98px) {
	.it-image-text {
		padding: 20px 0;
   }
	.it-image-text .text-content h2 {
		font-size: 32px;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.it-image-text {
		padding: 30px 0;
   }
	.it-image-text .text-content h2 {
		font-size: 35px;
   }
}
.It-work-process {
	background-position: center right;
	background-size: cover;
	padding: 100px 0;
	position: relative;
}
.It-work-process .working-content h1 {
	text-align: left;
	font-weight: 800;
	line-height: 1.13;
	margin: 0;
	font-size: 45px;
	color: theme-color('primary');
}
.It-work-process .working-content p {
	padding: 30px 0 0 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.63;
	color: #5b6674;
}
.It-work-process .working-content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.It-work-process .working-content ul li {
	padding-left: 25px;
	margin-bottom: 12px;
	position: relative;
	color: #8e8f9a;
	font-size: 16px;
	font-weight: 400;
}
.It-work-process .working-content ul li::before {
	content: "";
	background-color: theme-color('secondary');
	width: 8px;
	height: 8px;
	position: absolute;
	top: 10px;
	left: 0;
	border-radius: 50%;
}
.It-work-process .image-box {
	position: relative;
}
.It-work-process .image-box .main-btn {
	padding: 15px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.It-work-process .image-box .main-btn .video-btn:before {
	border-color: theme-color('secondary');
	content: "";
	position: absolute;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border: 4px solid theme-color('secondary');
	top: 0;
	left: 0;
}
.It-work-process .image-box .main-btn .video-btn:hover::before {
	top: -7px;
	left: -7px;
	width: calc(100% + 14px);
	height: calc(100% + 14px);
}
@media (max-width: 767.98px) {
	.It-work-process {
		padding: 20px 0;
   }
	.It-work-process .working-content h1 {
		font-size: 32px;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.It-work-process {
		padding: 30px 0;
   }
	.It-work-process .working-content h1 {
		font-size: 35px;
   }
}
.It-case-studies .heading h2 {
	font-weight: 800;
	line-height: 1.13;
	margin: 0;
	font-size: 45px;
	color: theme-color('primary');
}
.It-case-studies .heading h2:after {
	content: '';
	display: inline-block;
	width: calc(1em/100 * 18);
	height: calc(1em/100 * 18);
	background: theme-color('secondary');
	margin-left: 3px;
}
.It-case-studies .heading p {
	padding-top: 20px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.63;
	color: #5b6674;
}
.It-case-studies .carousel-inner .carousel-item .service-wrapper {
	position: relative;
	overflow: hidden;
}
.It-case-studies .carousel-inner .carousel-item .service-wrapper:after {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	content: '';
	opacity: 0;
	box-shadow: 0 0 150px 100px rgba(30, 30, 30, .8);
}
.It-case-studies .carousel-inner .carousel-item .service-text {
	padding: 9%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.It-case-studies .carousel-inner .carousel-item .service-text h4 {
	color: #fff;
	font-size: 25px;
	line-height: 1.3;
	font-weight: 900;
	text-align: left;
}
.It-case-studies .carousel-inner .carousel-item .service-wrapper:hover:after {
	opacity: 1;
}
.It-case-studies .carousel-inner .carousel-item .service-wrapper:hover .service-text {
	opacity: 1;
	visibility: visible;
}
.It-case-studies .carousel-indicators {
	bottom: -20%;
}
.It-case-studies .carousel-indicators li {
	position: relative;
	width: 12px !important;
	height: 12px !important;
	border-radius: 50% !important;
	margin: 5px;
	background-color: #e5e5e5;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.It-case-studies .carousel-indicators li.active {
	background-color: theme-color('secondary') !important;
}
.It-case-studies .carousel-indicators li:hover {
	background-color: theme-color('secondary') !important;
}
@media (max-width: 767.98px) {
	.It-case-studies {
		padding: 20px 0;
   }
	.It-case-studies .heading h2 {
		font-size: 35px;
   }
	.It-case-studies .heading p {
		font-size: 18px;
		line-height: 1.4;
   }
	.It-case-studies .carousel-indicators {
		bottom: -5%;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.It-case-studies {
		padding: 30px 0;
   }
	.It-case-studies .heading h2 {
		font-size: 40px;
   }
	.It-case-studies .carousel-inner .carousel-item .service-text h4 {
		font-size: 18px;
   }
	.It-case-studies .carousel-indicators {
		bottom: -25%;
   }
}
.editor_enable .It-case-studies .carousel-inner .carousel-item .service-wrapper:after {
	opacity: 1;
}
.editor_enable .It-case-studies .carousel-inner .carousel-item .service-wrapper .service-text {
	opacity: 1 !important;
	visibility: visible !important;
}
.It-pricing-plan {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 120px 0 100px 0;
	position: relative;
}
.It-pricing-plan .heading h2 {
	font-weight: 800;
	line-height: 1.13;
	margin: 0;
	font-size: 45px;
	color: theme-color('primary');
	padding: 30px 0 0 0;
}
.It-pricing-plan .heading h2:after {
	content: '';
	display: inline-block;
	width: calc(1em/100 * 18);
	height: calc(1em/100 * 18);
	background: theme-color('secondary');
	margin-left: 3px;
}
.It-pricing-plan .heading p {
	padding-top: 20px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.63;
	color: #5b6674;
}
.It-pricing-plan .Pricing-column {
	margin: 30px 0;
}
.It-pricing-plan .Pricing-column .Pricing-wrap {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
	background-color: #fff;
	text-align: center;
	overflow: hidden;
	position: relative;
	-webkit-transition: 0.35s all;
	-o-transition: 0.35s all;
	transition: 0.35s all;
	box-shadow: 0 10px 50px 0 rgba(104, 90, 232, .09);
}
.It-pricing-plan .Pricing-column .Pricing-wrap:hover {
   /* -webkit-box-shadow: 0 15px 30px 0 rgba(theme-color('secondary'), .1);
	box-shadow: 0 15px 30px 0 rgba(theme-color('secondary'), .1);
	*/
	-webkit-transform: scale(1.05, 1.13);
	-ms-transform: scale(1.05, 1.13);
	transform: scale(1.05, 1.13);
	border-top: 7px solid theme-color('secondary');
	z-index: 2;
}
.It-pricing-plan .Pricing-column .Pricing-wrap:hover .pricing-inner {
	-webkit-transform: scale(0.95, 0.87);
	-ms-transform: scale(0.95, 0.87);
	transform: scale(0.95, 0.87);
}
.It-pricing-plan .Pricing-column .pricing-inner {
	-webkit-transition: 0.35s;
	-o-transition: 0.35s;
	transition: 0.35s;
	padding: 50px;
	text-align: center;
	justify-content: center;
}
.It-pricing-plan .Pricing-column .pricing-inner .pricing-item {
	justify-content: center;
	background-color: transparent;
	position: relative;
}
.It-pricing-plan .Pricing-column .pricing-inner .pricing-item h5 {
	text-align: center;
	margin: 0 0 30px;
	position: relative;
	color: theme-color('secondary');
	font-size: 22px;
	line-height: 1.35;
	font-weight: 900;
}
.It-pricing-plan .Pricing-column .pricing-inner .pricing-item .cost {
	text-align: center;
	color: theme-color('primary');
	font-size: 60px;
	font-weight: 600;
	margin-top: 10px;
	position: relative;
}
.It-pricing-plan .Pricing-column .pricing-inner .pricing-content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.It-pricing-plan .Pricing-column .pricing-inner .pricing-content ul li {
	padding: 5px 0;
	text-align: center;
	color: #5b6674;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.63;
}
.It-pricing-plan .Pricing-column .pricing-inner .pricing-content .btn {
	margin: 35px 0 0;
	font-size: 14px;
	font-weight: 600;
	padding: 20px 25px;
	border-radius: 5px;
}
@media (max-width: 767.98px) {
	.It-pricing-plan {
		padding: 20px 0;
   }
	.It-pricing-plan .heading h2 {
		font-size: 35px;
   }
	.It-pricing-plan .heading p {
		font-size: 18px;
		line-height: 1.4;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.It-pricing-plan {
		padding: 50px 0;
   }
	.It-pricing-plan .heading h2 {
		font-size: 40px;
   }
	.It-pricing-plan .Pricing-column .Pricing-wrap .pricing-inner {
		padding: 25px;
   }
	.It-pricing-plan .Pricing-column .Pricing-wrap .pricing-inner .pricing-item .cost {
		font-size: 50px;
   }
	.It-pricing-plan .Pricing-column .Pricing-wrap .pricing-inner .pricing-content .btn {
		font-size: 12px;
		padding: 12px 20px;
   }
}
.It-client-testimonial {
	background-color: #f3f5ff;
	padding: 120px 0 65px 0;
}
.It-client-testimonial .heading h2 {
	font-weight: 800;
	line-height: 1.13;
	margin: 0;
	font-size: 45px;
	color: theme-color('primary');
	padding-bottom: 20px;
}
.It-client-testimonial .heading p {
	padding-top: 20px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.63;
	color: #5b6674;
}
.It-client-testimonial .carousel-inner {
	padding: 25px 0;
}
.It-client-testimonial .carousel-inner .client-content {
	border-radius: 5px;
	background-color: #fff;
	padding: 25px 40px 40px;
}
.It-client-testimonial .carousel-inner .client-content .review {
	margin-top: 20px;
	margin-bottom: 20px;
	color: theme-color('secondary');
}
.It-client-testimonial .carousel-inner .client-content .review span {
	margin-right: 1px;
	font-size: 16px;
}
.It-client-testimonial .carousel-inner .client-content .client-info {
	margin-bottom: 45px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.63;
	color: #5b6674;
}
.It-client-testimonial .carousel-inner .client-content .image-info .image {
	height: 70px;
	width: 70px;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	margin-right: 20px;
}
.It-client-testimonial .carousel-inner .client-content .image-info .image img {
	border-radius: 50%;
}
.It-client-testimonial .carousel-inner .client-content .image-info .author h5 {
	margin-top: 5px;
	font-size: 22px;
	line-height: 1.35;
	font-weight: 900;
	color: theme-color('primary');
}
.It-client-testimonial .carousel-inner .client-content .image-info .author h6 {
	color: #000;
	font-size: 16px;
}
.It-client-testimonial .carousel-indicators {
	bottom: -10%;
}
.It-client-testimonial .carousel-indicators li {
	position: relative;
	width: 12px !important;
	height: 12px !important;
	border-radius: 50% !important;
	margin: 5px;
	background-color: #e5e5e5;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.It-client-testimonial .carousel-indicators li.active {
	background-color: theme-color('secondary') !important;
}
.It-client-testimonial .carousel-indicators li:hover {
	background-color: theme-color('secondary') !important;
}
@media (max-width: 767.98px) {
	.It-client-testimonial {
		padding: 20px 0;
   }
	.It-client-testimonial .heading h2 {
		font-size: 35px;
   }
	.It-client-testimonial .heading p {
		font-size: 18px;
		line-height: 1.4;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.It-client-testimonial {
		padding: 50px 0;
   }
	.It-client-testimonial .heading h2 {
		font-size: 40px;
   }
	.It-client-testimonial .carousel-inner .client-content .image-info .author h5 {
		font-size: 20px;
   }
}
.It-brands {
	padding: 100px 0;
}
.It-brands [class*="col-"] {
	text-align: center;
}
.It-brands img {
	webkit-filter: grayscale(100%) brightness(1.3);
	filter: grayscale(100%) brightness(1.3);
	transition: all 0.3s ease-out;
}
.It-brands img:hover {
	-webkit-filter: grayscale(0) brightness(1);
	filter: grayscale(0) brightness(1);
}
@media (max-width: 767.98px) {
	.It-brands [class*="col-"] {
		margin-bottom: 30px !important;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.It-brands {
		padding: 50px 0;
   }
}
.It-cotact-us {
	position: relative;
}
.It-cotact-us .text-content h2 {
	margin-bottom: 25px;
	font-size: 45px;
	line-height: 1.13;
	font-weight: 900;
	color: theme-color('primary');
}
.It-cotact-us .text-content p {
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.63;
	color: #5b6674;
}
.It-cotact-us .text-content .s_website_form .form-group {
	padding: 8px;
}
.It-cotact-us .text-content .s_website_form .form-group input {
	padding: 16px 18px;
	width: 100%;
	border: 1px solid transparent !important;
	-webkit-transition: 0.35s;
	-o-transition: 0.35s;
	transition: 0.35s;
	background: rgba(229, 241, 248, .58);
	height: 60px;
	border-radius: 0;
}
.It-cotact-us .text-content .s_website_form .form-group textarea {
	padding: 16px 18px;
	width: 100%;
	border: 1px solid transparent !important;
	-webkit-transition: 0.35s;
	-o-transition: 0.35s;
	transition: 0.35s;
	background: rgba(229, 241, 248, .58);
	height: 200px;
	border-radius: 0;
}
.It-cotact-us .text-content .s_website_form .o_website_form_send {
	font-weight: 600;
	font-size: 14px;
	line-height: 17.5px;
	font-style: normal;
	padding: 20px 40px;
	border: 1px solid;
	border-radius: 5px;
}
.editor_enable .It-work-process .image-box .main-btn .video-btn:before {
	content: unset !important;
}
