.yoga-banner {
	background-size: cover;
	background-position: center;
}
.yoga-banner .content h1 {
	line-height: 92px;
	font-weight: 500;
	font-size: 82px;
	margin-bottom: 25px;
}
.yoga-banner .content p {
	line-height: 30px;
	font-weight: 400;
	font-size: 21px;
	color: #547670;
	margin-bottom: 25px;
}
@media (max-width: 767.98px) {
	.yoga-banner .content h1 {
		line-height: 70px;
		font-size: 60px;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.yoga-banner .content h1 {
		line-height: 75px;
		font-size: 64px;
   }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.yoga-banner .content h1 {
		line-height: 75px;
		font-size: 70px;
   }
}
@media (max-width: 767.98px) {
	.yoga-banner {
		padding-top: 32px !important;
   }
	.yoga-banner .row {
		flex-flow: column-reverse;
   }
}
.yoga-clear-mind .row {
	margin-top: -50px;
}
.yoga-clear-mind .green-bg {
	background-color: #e9f6f6;
	border-radius: 8px 0px 0px 8px;
}
.yoga-clear-mind .bg-image {
	border-radius: 0px 8px 8px 0px;
	background-size: cover;
	background-position: center;
}
.yoga-clear-mind .bg-image .play-icon {
	position: relative;
	height: 100%;
}
.yoga-clear-mind .bg-image .play-icon a {
	text-decoration: none;
}
.yoga-clear-mind .bg-image .play-icon span {
	padding: 47px;
	border-radius: 50%;
	background-color: white;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) !important;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important;
}
.yoga-clear-mind .yoga-icon {
	margin-bottom: 20px;
}
.yoga-clear-mind .yoga-icon .img {
	max-width: 100px;
}
.yoga-clear-mind h4 {
	font-size: 25px;
	margin-bottom: 20px;
	color: #3cc3a9;
}
.yoga-clear-mind h2 {
	font-size: 43px;
	font-weight: 600;
	margin-bottom: 20px;
}
.yoga-clear-mind p {
	line-height: 30px;
	font-weight: 400;
	font-size: 21px;
	color: #547670;
	margin-bottom: 20px;
}
.yoga-clear-mind .content {
	padding: 80px 30px 80px 55px;
}
@media (max-width: 767.98px) {
	.yoga-clear-mind .row {
		margin: 50px 0 0;
   }
	.yoga-clear-mind .content {
		padding: 80px 15px 80px 15px;
   }
	.yoga-clear-mind .bg-image {
		height: 450px;
		border-radius: 0px 0px 8px 8px;
   }
	.yoga-clear-mind .green-bg {
		background-color: #e9f6f6;
		border-radius: 8px 8px 0px 0px;
   }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
	.yoga-clear-mind .row {
		margin: 50px 0 0;
   }
	.yoga-clear-mind .content {
		padding: 80px 15px 80px 15px;
   }
}
.yoga-classes .heading-content .icon {
	margin-bottom: 20px;
}
.yoga-classes .heading-content .icon span {
	color: #3cc3a9;
}
.yoga-classes .heading-content h2 {
	font-size: 43px;
	font-weight: 500;
	margin-bottom: 20px;
}
.yoga-classes .heading-content p {
	line-height: 30px;
	font-weight: 400;
	font-size: 21px;
	color: #547670;
	margin-bottom: 20px;
}
.yoga-classes .image-boxes h6 {
	font-size: 21px;
	font-weight: 600;
	color: theme-color('primary');
	margin-bottom: 5px;
}
.yoga-classes .image-boxes p {
	font-size: 17px;
	color: #547670;
}
.yoga-about {
	background-size: cover;
	background-position: center;
}
.yoga-about .content h4 {
	font-size: 25px;
	margin-bottom: 20px;
	color: #3cc3a9;
	position: relative;
}
.yoga-about .content h4:after {
	content: "";
	width: 65px;
	height: 2px;
	background-color: #e0f3f1;
	position: absolute;
	top: 50%;
	left: 110px;
	transform: translateY(-50%);
}
.yoga-about .content h2 {
	font-size: 43px;
	font-weight: 500;
	margin-bottom: 20px;
}
.yoga-about .content p {
	line-height: 30px;
	font-weight: 400;
	font-size: 21px;
	color: #547670;
	margin-bottom: 20px;
}
.yoga-service {
	background-color: #e0f3f1;
}
.yoga-service .content .icon {
	margin-bottom: 20px;
}
.yoga-service .content h4 {
	font-size: 25px;
	margin-bottom: 20px;
	font-weight: 600;
}
.yoga-service .content p {
	line-height: 30px;
	font-weight: 400;
	font-size: 21px;
	color: #547670;
	padding-bottom: 20px;
	position: relative;
}
.yoga-service .content p:after {
	content: "";
	width: 65px;
	height: 2px;
	background-color: #c0d8d5;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.yoga-trainer .container {
	position: relative;
}
.yoga-trainer .heading h2 {
	font-size: 43px;
	font-weight: 500;
	margin-bottom: 20px;
}
.yoga-trainer .heading p {
	line-height: 30px;
	font-weight: 400;
	font-size: 21px;
	color: #547670;
	margin-bottom: 0;
}
.yoga-trainer .trainer-box .image {
	margin-bottom: 25px;
}
.yoga-trainer .trainer-box h5 {
	font-size: 23px;
	font-weight: 600;
}
.yoga-trainer .carousel-control-prev, .yoga-trainer .carousel-control-next {
	bottom: unset;
	top: 10px;
	width: 40px;
	height: 40px;
	font-size: 35px;
	color: #547670 !important;
	opacity: 1;
	cursor: pointer;
}
.yoga-trainer .carousel-control-prev {
	right: 60px;
	left: unset;
}
.yoga-trainer .carousel-control-next {
	right: 10px;
}
.yoga-testimonial {
	background-size: cover;
	background-position: center;
}
.yoga-testimonial .container {
	position: relative;
}
.yoga-testimonial .heading h2 {
	font-size: 43px;
	font-weight: 500;
	margin-bottom: 20px;
}
.yoga-testimonial .heading p {
	line-height: 30px;
	font-weight: 400;
	font-size: 21px;
	color: #547670;
	margin-bottom: 0;
}
.yoga-testimonial .testimonial-box {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	border-bottom: 3px solid theme-color('primary');
	padding: 45px 40px 60px;
}
.yoga-testimonial .testimonial-box p {
	line-height: 30px;
	font-weight: 400;
	font-size: 21px;
	color: #547670;
	margin-bottom: 25px;
}
.yoga-testimonial .testimonial-box .customer .image {
	margin-right: 10px;
}
.yoga-testimonial .testimonial-box .customer .image .img {
	width: 55px;
	height: 55px;
	border-radius: 50%;
}
.yoga-testimonial .testimonial-box .customer .info h6 {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0;
	color: theme-color('primary');
}
.yoga-testimonial .testimonial-box .customer .info span {
	font-size: 16px;
}
.yoga-testimonial .carousel-control-prev, .yoga-testimonial .carousel-control-next {
	bottom: unset;
	top: 10px;
	width: 40px;
	height: 40px;
	font-size: 35px;
	color: #547670 !important;
	opacity: 1;
	cursor: pointer;
}
.yoga-testimonial .carousel-control-prev {
	right: 60px;
	left: unset;
}
.yoga-testimonial .carousel-control-next {
	right: 10px;
}
.yoga-brand-newsletter {
	background-size: cover;
	background-position: top;
}
.yoga-brand-newsletter .yoga-newsletter h2 {
	font-size: 43px;
	font-weight: 500;
	margin-bottom: 5px;
}
.yoga-brand-newsletter .yoga-newsletter p {
	line-height: 30px;
	font-weight: 400;
	font-size: 18px;
	color: #547670;
	margin-bottom: 70px;
}
.yoga-brand-newsletter .yoga-newsletter .yoga-subscribe .input-group {
	position: relative;
}
.yoga-brand-newsletter .yoga-newsletter .yoga-subscribe .input-group input.form-control {
	padding: 17px;
	font-size: 17px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);
	border-color: white;
	outline: 0;
	background-color: #fff;
	z-index: 0;
	height: 100%;
}
.yoga-brand-newsletter .yoga-newsletter .yoga-subscribe .input-group .input-group-append {
	position: absolute;
	right: 0;
	height: 100%;
}
.yoga-brand-newsletter .yoga-newsletter .yoga-subscribe .input-group .input-group-append a.btn {
	vertical-align: middle;
	align-items: center;
	line-height: 55px;
	padding: 0 30px;
	font-size: 17px;
	border-radius: 50px;
	z-index: 1;
}
@media (max-width: 767.98px) {
	.yoga-brand-newsletter {
		padding: 64px 0 !important;
		background-position: inherit;
   }
}
.yoga-contact .upper-content {
	padding-bottom: 30px;
	border-bottom: 2px solid theme-color('primary');
}
.yoga-contact .upper-content h2 {
	font-size: 43px;
	font-weight: 500;
	margin-bottom: 15px;
}
.yoga-contact .upper-content p {
	line-height: 30px;
	font-weight: 400;
	font-size: 20px;
	color: #547670;
	margin-bottom: 15px;
}
.yoga-contact .upper-content p span {
	font-size: 18px;
}
.yoga-contact .lower-content {
	padding-top: 45px;
}
.yoga-contact .lower-content h4 {
	font-size: 23px;
	margin-bottom: 20px;
	color: #3cc3a9;
}
.yoga-contact .lower-content p {
	line-height: 30px;
	font-weight: 400;
	font-size: 19px;
	color: #547670;
	margin-bottom: 0;
}
.yoga-contact .form-group input.form-control {
	padding: 15px 0;
	height: unset;
	border: 0;
	border-bottom: 2px solid #d7eeee;
	border-radius: 0;
	color: theme-color('primary');
	outline: 0;
	box-shadow: unset;
	font-size: 16px;
}
.yoga-contact .form-group input.form-control::placeholder {
	color: theme-color('primary');
}
.yoga-contact .form-group textarea {
	padding: 15px 0;
	border: 0;
	border-bottom: 2px solid #d7eeee;
	border-radius: 0;
	color: theme-color('primary');
	outline: 0;
	box-shadow: unset;
	font-size: 16px;
}
.yoga-contact .form-group textarea::placeholder {
	color: theme-color('primary');
}
