#vouge-header8 {
	/* mega menu alignment end */
	/* mega menu alignment end */
}
 #vouge-header8 .middle-header .row.align-items-center {
	 position: relative;
}
 #vouge-header8 .middle-header .row.align-items-center .header-center {
	 position: unset;
}
 #vouge-header8 .middle-header .row.align-items-center .header-center #bizople-header-eight {
	 position: unset;
}
 #vouge-header8 .middle-header .row.align-items-center .header-center #bizople-header-eight #top_menu .o_mega_menu a.nav-link {
	 line-height: 30px;
	 border: 0;
}
 #vouge-header8 .dropdown .dropdown-menu, #vouge-header8 .header-myaccount .dropdown-menu {
	 border-radius: 0;
}
 #vouge-header8 .o_no_autohide_item a:not(.dropdown-item) {
	 font-weight: 500 !important;
	 color: #1b1b1b;
}
 #vouge-header8 .o_extra_menu_items .dropdown-toggle.o-no-caret {
	 padding: 0 !important;
}
 #vouge-header8 .o_extra_menu_items ul {
	 visibility: visible !important;
	 opacity: 1 !important;
	 margin: 0 !important;
}
 #vouge-header8 .o_extra_menu_items div.dropdown-menu {
	 overflow-y: scroll !important;
	 max-height: 90vh !important;
}
 #vouge-header8 .js_language_selector .btn {
	 background-color: transparent !important;
	 color: #1b1b1b;
	 font-size: initial;
	 font-weight: 500 !important;
}
 #vouge-header8 .js_language_selector .list-inline {
	 white-space: nowrap;
	 overflow: hidden;
}
 #vouge-header8 .js_language_selector .list-inline a, #vouge-header8 .js_language_selector .list-inline span {
	 color: #1b1b1b;
}
 #vouge-header8 #bizople-header-eight .dropdown .dropdown-menu {
	 transition: 0.2s;
	 -webkit-transition: 0.2s;
	 margin-top: 35px;
	 display: block !important;
	 opacity: 0;
	 visibility: hidden;
	 width: fit-content;
}
 #vouge-header8 #bizople-header-eight .dropdown .dropdown-menu .dropdown-item:active, #vouge-header8 #bizople-header-eight .dropdown .dropdown-menu .dropdown-item.active {
	 color: initial !important;
	 background-color: transparent !important;
}
 #vouge-header8 #bizople-header-eight .dropdown .dropdown-menu .dropdown-item {
	 color: initial;
}
 #vouge-header8 #bizople-header-eight .dropdown .dropdown-menu.show {
	 margin-top: 0 !important;
	 opacity: 1 !important;
	 visibility: visible !important;
}
 #vouge-header8 #bizople-header-eight .dropdown:hover .dropdown-toggle:after {
	 transform: rotate(180deg);
}
 @media (max-width: 1199.98px) {
	 #vouge-header8 #bizople-header-eight .dropdown:hover .dropdown-toggle:after {
		 transform: rotate(0);
	}
}
 #vouge-header8 #bizople-header-eight .dropdown:hover .dropdown-menu {
	 margin-top: 0;
	 opacity: 1;
	 visibility: visible;
}
 @media (max-width: 1199.98px) {
	 #vouge-header8 #bizople-header-eight .dropdown:hover .dropdown-menu {
		 margin-top: 35px;
		 opacity: 0;
		 visibility: hidden;
	}
}
 #vouge-header8 .middle-header .dropdown-toggle:after {
	 font-family: 'remixicon' !important;
	 border: 0;
	 font-size: 12px;
	 vertical-align: middle;
	 content: '\ea4c';
	 transition: 0.2s;
	 -webkit-transition: 0.2s;
}
 #vouge-header8 .middle-header .dropdown.show .dropdown-toggle:after {
	 transform: rotate(180deg) !important;
}
 #vouge-header8 .o_extra_menu_items > .dropdown-toggle:after {
	 display: none;
}
 #vouge-header8 .o_extra_menu_items > .dropdown-toggle > .fa {
	 font-size: 12px;
	 font-family: 'remixicon' !important;
	 vertical-align: middle;
	 transition: 0.2s;
	 -webkit-transition: 0.2s;
}
 #vouge-header8 .o_extra_menu_items > .dropdown-toggle > .fa:before {
	 content: "\ea4c";
	 margin: 0.255em;
}
 #vouge-header8 .o_extra_menu_items .dropdown-toggle:hover .fa {
	 transform: rotate(180deg);
}
 #vouge-header8 .o_extra_menu_items.show .dropdown-toggle .fa {
	 transform: rotate(180deg) !important;
}
 #vouge-header8 .middle-header {
	 padding: 15px 0;
	 background-color: transparent;
}
 #vouge-header8 .middle-header .header-left .navbar-brand {
	 line-height: 75px;
	 vertical-align: middle;
}
 #vouge-header8 .middle-header .header-left .mobile-sidebar-toggle .btn {
	 padding: 0;
	 width: 30px;
	 height: 30px;
	 border-radius: 0;
	 background-color: transparent !important;
	 color: #1b1b1b;
	 border-color: #1b1b1b;
	 line-height: 37px;
	 border: 0;
}
 #vouge-header8 .middle-header .header-left .mobile-sidebar-toggle .btn .fa, #vouge-header8 .middle-header .header-left .mobile-sidebar-toggle .btn .icon, #vouge-header8 .middle-header .header-left .mobile-sidebar-toggle .btn .icofont, #vouge-header8 .middle-header .header-left .mobile-sidebar-toggle .btn .lnr, #vouge-header8 .middle-header .header-left .mobile-sidebar-toggle .btn .lni, #vouge-header8 .middle-header .header-left .mobile-sidebar-toggle .btn .ri, #vouge-header8 .middle-header .header-left .mobile-sidebar-toggle .btn .ti {
	 font-size: 22px;
}
 #vouge-header8 .middle-header .header-center #top_menu .nav-item > a.nav-link {
	 text-transform: capitalize;
	 letter-spacing: 0.2px;
	 font-weight: 500;
	 font-style: normal;
	 font-size: 16px;
	 line-height: 50px;
	 padding: 0 15px;
	 color: #1b1b1b;
	 position: relative;
}
 #vouge-header8 .middle-header .header-center #top_menu li.nav-item:first-child a.nav-link {
	 padding-left: 0;
}
 #vouge-header8 .middle-header .header-center #top_menu .nav-item > dropdown-menu {
	 border-radius: 0;
}
 #vouge-header8 .middle-header .header-center #top_menu li.o_extra_menu_items > .nav-link {
	 padding: 0;
}
 #vouge-header8 .middle-header .header-center #top_menu li.o_extra_menu_items .dropdown-menu-right {
	 left: 0 !important;
	 background-clip: unset;
	 width: fit-content;
}
 #vouge-header8 .middle-header .header-center #top_menu li.o_extra_menu_items .dropdown-menu-right li {
	 border: 0 !important;
}
 #vouge-header8 .middle-header .header-center #top_menu li.o_extra_menu_items > .dropdown-menu {
	 background-clip: unset;
	 width: fit-content;
}
 @media (max-width: 1199.98px) {
	 #vouge-header8 .middle-header {
		 padding: 10px 0;
	}
	 #vouge-header8 .middle-header .s_btn .btn {
		 border-radius: 100px !important;
		 padding: 0.45rem 1.35rem;
		 font-size: 0.875rem;
		 line-height: 1.5;
	}
}
 @media (max-width: 767.98px) {
	 #vouge-header8 .middle-header {
		 box-shadow: 0px 0px 3px #757575;
		 z-index: 1;
		 position: relative;
	}
	 #vouge-header8 .middle-header .mbl-div {
		 justify-content: space-between;
		 align-items: center;
	}
}
 @media (max-width: 767.98px) {
	 .o_header_overlay #vouge-header8 {
		 position: unset !important;
		 z-index: unset !important;
	}
}
 .o_header_overlay #top.o_header_is_scrolled .default-logo {
	 display: block !important;
}
 .o_header_overlay #top.o_header_is_scrolled .transparent-logo {
	 display: none !important;
}
 .o_header_overlay #top:not(.o_header_is_scrolled) .default-logo {
	 display: none !important;
}
 .o_header_overlay #top:not(.o_header_is_scrolled) .transparent-logo {
	 display: block !important;
}
 .o_header_overlay #top:not(.o_header_is_scrolled) .middle-header .header-left #show-sidebar span {
	 color: theme-color('overlay-header-text-color') !important;
}
 .o_header_overlay #top:not(.o_header_is_scrolled) .middle-header .header-center #top_menu .nav-item > a.nav-link {
	 color: theme-color('overlay-header-text-color') !important;
}
 .o_header_overlay #top:not(.o_header_is_scrolled) .middle-header .header-center .o_no_autohide_item a:not(.dropdown-item) {
	 color: theme-color('overlay-header-text-color') !important;
}
 .o_header_overlay #top:not(.o_header_is_scrolled) .middle-header .header-center .js_language_selector .btn {
	 color: theme-color('overlay-header-text-color') !important;
}
 .o_header_overlay #top:not(.o_header_is_scrolled) .middle-header .header-center .js_language_selector .list-inline a, .o_header_overlay #top:not(.o_header_is_scrolled) .middle-header .header-center .js_language_selector .list-inline span {
	 color: theme-color('overlay-header-text-color') !important;
}
 