/* mega menu alignment */
#vouge-header9 {
	/* mega menu alignment end */
}
 #vouge-header9 .middle-header .row.align-items-center {
	 position: relative;
}
 #vouge-header9 .middle-header .row.align-items-center .col-md-8 {
	 position: unset;
}
 #vouge-header9 .middle-header .row.align-items-center .col-md-8 #bizople-header-nine {
	 position: unset;
}
 #vouge-header9 .middle-header .row.align-items-center .col-md-8 #bizople-header-nine #top_menu .o_mega_menu {
	 top: 50px;
}
 #vouge-header9 .middle-header .row.align-items-center .col-md-8 #bizople-header-nine #top_menu .o_mega_menu a.nav-link {
	 line-hnine: 30px;
	 border: 0;
}
 #vouge-header9 .middle-header .js_language_selector span {
	 font-size: 16px;
}
 #vouge-header9 .middle-header .js_language_selector .dropdown-toggle {
	 background-color: transparent !important;
	 color: theme-color('secondary') !important;
}
 #vouge-header9 .dropdown .dropdown-menu, #vouge-header9 .header-myaccount .dropdown-menu {
	 border-radius: 0;
}
 #vouge-header9 #bizople-header-nine .dropdown .dropdown-menu {
	 transition: 0.2s;
	 -webkit-transition: 0.2s;
	 margin-top: 35px;
	 display: block !important;
	 opacity: 0;
	 visibility: hidden;
	 width: fit-content;
}
 #vouge-header9 #bizople-header-nine .dropdown .dropdown-menu.show {
	 margin-top: 0 !important;
	 opacity: 1 !important;
	 visibility: visible !important;
}
 #vouge-header9 #bizople-header-nine .dropdown:hover .dropdown-toggle:after {
	 transform: rotate(180deg);
}
 @media (max-width: 1199.98px) {
	 #vouge-header9 #bizople-header-nine .dropdown:hover .dropdown-toggle:after {
		 transform: rotate(0);
	}
}
 #vouge-header9 #bizople-header-nine .dropdown:hover .dropdown-menu {
	 margin-top: 0;
	 opacity: 1;
	 visibility: visible;
}
 @media (max-width: 1199.98px) {
	 #vouge-header9 #bizople-header-nine .dropdown:hover .dropdown-menu {
		 margin-top: 35px;
		 opacity: 0;
		 visibility: hidden;
	}
}
 #vouge-header9 .middle-header .dropdown-toggle:after {
	 font-family: 'remixicon' !important;
	 border: 0;
	 font-size: 12px;
	 vertical-align: middle;
	 content: '\ea4c';
	 transition: 0.2s;
	 -webkit-transition: 0.2s;
}
 #vouge-header9 .middle-header .dropdown.show .dropdown-toggle:after {
	 transform: rotate(180deg) !important;
}
 #vouge-header9 .o_extra_menu_items > .dropdown-toggle:after {
	 display: none;
}
 #vouge-header9 .o_extra_menu_items > .dropdown-toggle > .fa {
	 font-size: 12px;
	 font-family: 'remixicon' !important;
	 vertical-align: middle;
	 transition: 0.2s;
	 -webkit-transition: 0.2s;
}
 #vouge-header9 .o_extra_menu_items > .dropdown-toggle > .fa:before {
	 content: "\ea4c";
	 margin: 0.255em;
}
 #vouge-header9 .o_extra_menu_items .dropdown-toggle:hover .fa {
	 transform: rotate(180deg);
}
 #vouge-header9 .o_extra_menu_items.show .dropdown-toggle .fa {
	 transform: rotate(180deg) !important;
}
 #vouge-header9 .top-header {
	 padding: 25px 0;
	 background-color: transparent;
}
 #vouge-header9 .top-header .contact-time p {
	 font-size: 16px;
	 line-height: 1.7;
}
 #vouge-header9 .top-header .contact-time p .fa {
	 font-size: 19px;
}
 #vouge-header9 .top-header .header-media {
	 align-items: center;
	 display: flex;
	 justify-content: end;
	/* @include media-breakpoint-between(lg, xl) {
		 a.link{
			 height: 25px;
			 width: 25px;
			 line-height: 25px;
		}
	}
	 */
}
 #vouge-header9 .top-header .header-media .dropdown .nav-link.dropdown-toggle {
	 display: flex;
	 align-items: center;
}
 #vouge-header9 .top-header .header-media .dropdown .nav-link.dropdown-toggle:after {
	 content: "\f107" !important;
	 font-family: 'FontAwesome';
	 vertical-align: middle;
	 border: 0 !important;
}
 #vouge-header9 .top-header .header-media a.link {
	 height: 30px;
	 width: 30px;
	 display: inline-block;
	 line-height: 30px;
	 text-align: center;
	 font-size: 16px;
	 color: #5a5a5a;
	 position: relative;
	 z-index: 1;
}
 #vouge-header9 .top-header .header-media li.nav-item {
	 list-style-type: none;
}
 #vouge-header9 .top-header .header-media a.dropdown-toggle {
	 padding: 0 !important;
}
 #vouge-header9 .top-header .header-media a.dropdown-toggle .user_img {
	 width: 30px;
	 height: 30px;
	 display: inline-block;
	 margin-top: 0 !important;
	 margin-left: 5px;
	 padding: unset !important;
}
 #vouge-header9 .top-header .header-media a.dropdown-toggle:before {
	 display: none !important;
	 transform-origin: unset !important;
	 transform: unset !important;
}
 #vouge-header9 .top-header .header-media a.dropdown-toggle:hover:before {
	 transform-origin: unset !important;
	 transform: unset !important;
}
 #vouge-header9 .middle-header {
	 padding: 25px 15px;
	 border-radius: 3px;
	 -moz-border-radius: 3px;
	 -webkit-border-radius: 3px;
}
 #vouge-header9 .middle-header .header-left .navbar-brand {
	 vertical-align: middle;
}
 #vouge-header9 .middle-header .header-left .mobile-sidebar-toggle .btn {
	 padding: 0;
	 width: 30px;
	 hnine: 30px;
	 border-radius: 0;
	 background-color: transparent !important;
	 color: #1b1b1b;
	 border-color: #1b1b1b;
	 line-hnine: 37px;
	 border: 0;
}
 #vouge-header9 .middle-header .header-left .mobile-sidebar-toggle .btn .fa, #vouge-header9 .middle-header .header-left .mobile-sidebar-toggle .btn .icon, #vouge-header9 .middle-header .header-left .mobile-sidebar-toggle .btn .icofont, #vouge-header9 .middle-header .header-left .mobile-sidebar-toggle .btn .lnr, #vouge-header9 .middle-header .header-left .mobile-sidebar-toggle .btn .lni, #vouge-header9 .middle-header .header-left .mobile-sidebar-toggle .btn .ri, #vouge-header9 .middle-header .header-left .mobile-sidebar-toggle .btn .ti {
	 font-size: 22px;
}
 #vouge-header9 .middle-header .header-center #top_menu .nav-item > a.nav-link {
	 text-transform: capitalize;
	 letter-spacing: 0.2px;
	 font-weight: 500;
	 font-style: normal;
	 font-size: 16px;
	 line-height: 50px;
	 padding: 0 15px;
	 color: #1b1b1b;
	 position: relative;
}
 #vouge-header9 .middle-header .header-center #top_menu li.nav-item:first-child a.nav-link {
	 padding-left: 0;
}
 #vouge-header9 .middle-header .header-center #top_menu .nav-item > dropdown-menu {
	 border-radius: 0;
}
 #vouge-header9 .middle-header .header-center #top_menu li.o_extra_menu_items > .nav-link {
	 padding: 0;
}
 #vouge-header9 .middle-header .header-center #top_menu li.o_extra_menu_items .dropdown-menu-right {
	 left: 0 !important;
	 background-clip: unset;
	 width: fit-content;
}
 #vouge-header9 .middle-header .header-center #top_menu li.o_extra_menu_items .dropdown-menu-right li {
	 border: 0 !important;
}
 #vouge-header9 .middle-header .header-center #top_menu li.o_extra_menu_items > .dropdown-menu {
	 background-clip: unset;
	 width: fit-content;
}
 @media (max-width: 1199.98px) {
	 #vouge-header9 .middle-header {
		 padding: 20px 15px;
	}
	 #vouge-header9 .middle-header .s_btn .btn {
		 border-radius: 100px !important;
		 padding: 0.45rem 1.35rem;
		 font-size: 0.875rem;
		 line-hnine: 1.5;
	}
}
 @media (max-width: 767.98px) {
	 #vouge-header9 .middle-header {
		 z-index: 1;
		 position: relative;
		 padding: 10px 0;
	}
	 #vouge-header9 .middle-header .mbl-div {
		 justify-content: space-between;
		 align-items: center;
	}
}
 @media (max-width: 767.98px) {
	 .o_header_overlay #vouge-header9 {
		 position: unset !important;
		 z-index: unset !important;
	}
}
 