header #oe_structure_header_contact_1 .dropdown .nav-link.dropdown-toggle, #vouge-header-new-1 .dropdown .nav-link.dropdown-toggle {
	display: flex;
	align-items: center;
}
header #oe_structure_header_contact_1 .dropdown .nav-link.dropdown-toggle:after, #vouge-header-new-1 .dropdown .nav-link.dropdown-toggle:after {
	content: "\f107" !important;
	font-family: 'FontAwesome';
	vertical-align: middle;
	border: 0 !important;
}
header #oe_structure_header_contact_1 .dropdown.show:hover .nav-link.dropdown-toggle:after, #vouge-header-new-1 .dropdown.show:hover .nav-link.dropdown-toggle:after {
	transform: rotate(180deg);
	transition: 0.4s;
	-webkit-transition: 0.4s;
}
header #oe_structure_header_contact_1 .o_extra_menu_items .nav-link:after, #vouge-header-new-1 .o_extra_menu_items .nav-link:after {
	display: none !important;
}
header #oe_structure_header_contact_1 .o_extra_menu_items .fa, #vouge-header-new-1 .o_extra_menu_items .fa {
	line-height: 22px;
}
header #oe_structure_header_contact_1 .js_language_selector span, #vouge-header-new-1 .js_language_selector span {
	font-size: 16px;
}
header #oe_structure_header_contact_1 .js_language_selector .dropdown-toggle, #vouge-header-new-1 .js_language_selector .dropdown-toggle {
	background-color: transparent !important;
	color: theme-color('secondary') !important;
	display: flex;
	align-items: center;
}
header #oe_structure_header_contact_1 .js_language_selector .dropdown-toggle:after, #vouge-header-new-1 .js_language_selector .dropdown-toggle:after {
	content: "\f107" !important;
	font-family: 'FontAwesome';
	vertical-align: middle;
	border: 0 !important;
}
/* .o_connected_user{
	header{
		#oe_structure_header_contact_1{
			.login_nav{
				display: block !important;
		   }
	   }
   }
}
*/
#oe_structure_header_contact_1:hover {
	box-shadow: none;
}
#oe_structure_header_contact_1 .top-header {
	border-bottom: 1px solid #e9e9e9;
	padding: 7px 0px;
}
#oe_structure_header_contact_1 .top-header .navbar-brand {
	vertical-align: middle;
}
#oe_structure_header_contact_1 .top-header .top-header-contact ul li.nav-item {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}
#oe_structure_header_contact_1 .top-header .top-header-contact ul li.nav-item .nav-link {
	padding: 5px !important;
	text-decoration: none;
}
#oe_structure_header_contact_1 .top-header .top-header-contact ul li.nav-item .nav-link .contact-icon .icon {
	font-size: 25px;
	line-height: 50px;
	color: theme-color('primary');
	font-weight: 700;
}
#oe_structure_header_contact_1 .top-header .top-header-contact ul li.nav-item .nav-link .contact-data {
	text-align: left;
}
#oe_structure_header_contact_1 .top-header .top-header-contact ul li.nav-item .nav-link .contact-data .text {
	margin-bottom: 0 !important;
	font-weight: 600;
}
#oe_structure_header_contact_1 .top-header .top-header-contact ul li.nav-item:hover .contact-icon {
	transform: translate(0px, -10px);
	transition: 0.4s;
	-webkit-transition: 0.4s;
}
#oe_structure_header_contact_1 .top-header .top-header-contact ul li.nav-item:last-child {
	border-left: 1px dashed theme-color('primary');
}
#oe_structure_header_contact_1 .top-header .header-media {
	align-items: center;
   /* @include media-breakpoint-between(lg, xl) {
		a.link{
			height: 25px;
			width: 25px;
			line-height: 25px;
	   }
   }
	*/
}
#oe_structure_header_contact_1 .top-header .header-media a.link {
	height: 30px;
	width: 30px;
	display: inline-block;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	color: #5a5a5a;
	position: relative;
	z-index: 1;
}
#oe_structure_header_contact_1 .top-header .header-media a.link:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: auto;
	background-color: theme-color('primary');
	transform-origin: bottom center;
	-webkit-transform-origin: bottom center;
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
	-webkit-transition: transform 0.3s cubic-bezier(0.37, 0.31, 0.2, 0.85);
	transition: transform 0.3s cubic-bezier(0.37, 0.31, 0.2, 0.85);
	z-index: -1;
}
#oe_structure_header_contact_1 .top-header .header-media a.link:hover {
	color: #fff !important;
	transition: 0.4s;
}
#oe_structure_header_contact_1 .top-header .header-media a.link:hover:before {
	transform-origin: top center;
	-webkit-transform-origin: top center;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}
#oe_structure_header_contact_1 .top-header .header-media li.nav-item {
	list-style-type: none;
}
#oe_structure_header_contact_1 .top-header .header-media a.dropdown-toggle {
	padding: 0 !important;
}
#oe_structure_header_contact_1 .top-header .header-media a.dropdown-toggle .user_img {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-top: 0 !important;
	margin-left: 5px;
	padding: unset !important;
}
#oe_structure_header_contact_1 .top-header .header-media a.dropdown-toggle:before {
	display: none !important;
	transform-origin: unset !important;
	transform: unset !important;
}
#oe_structure_header_contact_1 .top-header .header-media a.dropdown-toggle:hover:before {
	transform-origin: unset !important;
	transform: unset !important;
}
#oe_structure_header_contact_1 .top-header .top-header-contact ul li.nav-item {
	margin-right: 15px;
}
#vouge-header-new-1 .bottom-header .header-left #bizople-header-new1 .nav .nav-item {
	margin-right: 24px;
}
#vouge-header-new-1 .bottom-header .header-left #bizople-header-new1 .nav .nav-item .nav-link {
	padding: 18px 0px !important;
	position: relative;
}
#vouge-header-new-1 .bottom-header .header-left #bizople-header-new1 .nav .nav-item .nav-link:hover:before {
	content: "";
	width: 100%;
	height: 2px;
	background-color: theme-color('primary');
	position: absolute;
	left: 0;
	top: 0px;
}
#vouge-header-new-1 .bottom-header .header-left #bizople-header-new1 .nav .nav-item .dropdown-toggle:hover:before {
	display: none;
}
#vouge-header-new-1 .bottom-header .header-left #bizople-header-new1 .nav .o_extra_menu_items i:before {
	content: "\f107" !important;
}
#vouge-header-new-1 .bottom-header .header-left #bizople-header-new1 .nav .o_extra_menu_items ul.dropdown-menu {
	margin-top: 0;
	right: 0;
	width: fit-content;
	overflow: visible;
	border-radius: 0 !important;
	display: block !important;
	opacity: 0;
	visibility: hidden;
}
#vouge-header-new-1 .bottom-header .header-left #bizople-header-new1 .nav .o_extra_menu_items ul.dropdown-menu-right {
	right: unset !important;
	left: 0 !important;
}
#vouge-header-new-1 .bottom-header .header-left #bizople-header-new1 .nav .o_extra_menu_items:hover i {
	transform: rotate(180deg);
	transition: 0.4s;
	-webkit-transition: 0.4s;
}
#vouge-header-new-1 .bottom-header .header-left #bizople-header-new1 .nav .o_extra_menu_items:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
}
#vouge-header-new-1 .bottom-header .header-left #bizople-header-new1 .nav .o_extra_menu_items.show > ul > li + li {
	border-top: 0 !important;
}
#vouge-header-new-1 .bottom-header .header-right .s_btn .btn {
	border-radius: 0;
	padding: 15px 20px;
	width: 100%;
	font-size: 15px;
}
#vouge-header-new-1 .bottom-header .header-right .s_btn .btn:hover {
	background-color: theme-color('secondary');
}
