.editor_enable .navbar-collapse #top_menu {
	flex-wrap: wrap !important;
}
header .fa-search {
	font-family: 'IcoFont' !important;
}
header .fa-search:before {
	content: "\ed12" !important;
}
.o_mega_menu {
	margin: 0 15px !important;
	width: -webkit-fill-available !important;
}
#vouge-header3 .o_mega_menu, #vouge-header6 .o_mega_menu, #vouge-header9 .o_mega_menu {
	margin: 0 !important;
}
#vouge-header8 .o_mega_menu {
	margin-right: 0 !important;
}
