.footer_theme_common7 .footer-pricelist img, .footer_theme_common7 .footer-language img {
	border-radius: 50%;
}
.footer_theme_common7 .footer-pricelist a.dropdown-toggle:after, .footer_theme_common7 .footer-language a.dropdown-toggle:after {
	font-family: 'remixicon' !important;
	border: 0;
	font-size: 12px;
	vertical-align: middle;
	content: '\ea4c';
}
.footer_theme_common7 .footer-section {
	background-color: #ebf4f2;
}
.footer_theme_common7 .footer-section .footer-links {
	margin: 0 30px;
}
.footer_theme_common7 .footer-section .footer-links h6 {
	margin-bottom: 25px;
	font-weight: normal;
	font-size: 20px;
	color: theme-color('primary');
}
.footer_theme_common7 .footer-section .footer-links p {
	font-weight: normal;
	font-size: 16px;
	line-height: 1.7;
	margin-bottom: 7px;
}
.footer_theme_common7 .footer-section .footer-links p a {
	text-decoration: none;
	color: #0b033f;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
.footer_theme_common7 .footer-section .footer-links p a:hover {
	color: theme-color('primary');
}
.footer_theme_common7 .footer-section .horizontal-link a {
	font-weight: normal;
	font-size: 16px;
	line-height: 1.7;
	margin: 0 15px;
	text-decoration: none;
	color: #0b033f;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
.footer_theme_common7 .footer-section .horizontal-link a:hover {
	color: theme-color('primary');
}
.footer_theme_common7 .copyright-section {
	background-color: #ebf4f2;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.footer_theme_common7 .copyright-section p {
	font-weight: normal;
	font-size: 16px;
	line-height: 1.7;
	color: #0b033f;
	margin: 0;
}
@media (max-width: 767.98px) {
	.footer_theme_common7 .copyright-section {
		padding-bottom: 83px !important;
   }
	.footer_theme_common7 .footer-section .footer-links {
		margin: 0;
   }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
	.footer_theme_common7 .footer-section .footer-links {
		margin: 0;
   }
}
