#footer_theme_common5 {
	border-top: 1px solid #e5e5e5;
}
#footer_theme_common5 .footer-pricelist, #footer_theme_common5 .footer-language {
	margin-bottom: 10px;
}
#footer_theme_common5 .footer-pricelist p span, #footer_theme_common5 .footer-language p span {
	font-size: 16px;
}
#footer_theme_common5 .footer-pricelist p img, #footer_theme_common5 .footer-language p img {
	width: 16px;
	height: 16px;
	border-radius: 50%;
}
#footer_theme_common5 .footer-pricelist a.dropdown-toggle, #footer_theme_common5 .footer-language a.dropdown-toggle {
	font-size: 15px;
	color: #6d7175;
	text-decoration: none;
}
#footer_theme_common5 .footer-pricelist a.dropdown-toggle:after, #footer_theme_common5 .footer-language a.dropdown-toggle:after {
	font-family: 'remixicon' !important;
	border: 0;
	font-size: 12px;
	vertical-align: middle;
	content: '\ea4c';
}
#footer_theme_common5 .footer-logo img {
	max-width: 220px !important;
}
#footer_theme_common5 .contact-content .contact-icon .icon {
	font-size: 25px;
	margin-right: 15px;
	margin-top: 30px;
	display: inline-block;
}
#footer_theme_common5 .contact-content .contact-info p {
	margin-bottom: 10px;
	font-size: 15px;
}
#footer_theme_common5 .contact-content .contact-info h6 {
	font-size: 16px;
}
#footer_theme_common5 .social-share a.link {
	font-size: 18px;
	margin-right: 27px;
}
#footer_theme_common5 .footer-links h6 {
	font-weight: 500;
	margin-bottom: 30px !important;
	font-size: 20px;
}
#footer_theme_common5 .footer-links p {
	margin: 0;
}
#footer_theme_common5 .footer-links p a {
	line-height: 30px;
	text-decoration: none;
	color: #333;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#footer_theme_common5 .footer-links p a:hover {
	color: theme-color('primary');
}
#footer_theme_common5 .apps-link .title h6 {
	color: #484848;
	font-weight: 500;
	margin-bottom: 30px !important;
	font-size: 20px;
}
#footer_theme_common5 .apps-link .title p {
	line-height: 24px;
	color: #333;
}
#footer_theme_common5 .apps-link .app-box {
	padding: 13px 21px;
	border: 2px solid #e5e5e5;
	border-radius: 8px;
	max-width: 300px;
	display: inline-block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	align-items: center;
	justify-content: center;
}
#footer_theme_common5 .apps-link .app-box:hover {
	border-color: theme-color('primary');
}
#footer_theme_common5 .apps-link .app-box:hover .apple-logo {
	color: #1b1b1b !important;
}
#footer_theme_common5 .apps-link .app-box:hover .android-logo {
	color: #238a23 !important;
}
#footer_theme_common5 .apps-link .app-icon .fa {
	color: #1b1b1b;
	font-size: 35px;
	margin-right: 15px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#footer_theme_common5 .apps-link .app-content h6 {
	font-size: 20px;
}
#footer_theme_common5 .apps-link .app-content h6 a {
	color: #484848;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#footer_theme_common5 .apps-link .app-content h6 a:hover {
	color: theme-color('primary');
}
#footer_theme_common5 .apps-link .app-content p {
	margin: 0;
}
#footer_theme_common5 .copyright-section {
	background-color: #fff;
}
#footer_theme_common5 .top-footer {
	background-color: #e5e5e5;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	#footer_theme_common5 .footer-links h6 {
		font-size: 17px;
   }
	#footer_theme_common5 .footer-links p a {
		font-size: 12px;
   }
	#footer_theme_common5 .newsletter-content h4 {
		font-size: 17px;
   }
	#footer_theme_common5 .newsletter-content .newsletter-description {
		font-size: 12px;
   }
	#footer_theme_common5 .apps-link .title h6 {
		font-size: 17px;
   }
	#footer_theme_common5 .apps-link .title p {
		font-size: 12px;
   }
	#footer_theme_common5 .apps-link .app-box {
		padding: 10px;
		max-width: 230px;
   }
	#footer_theme_common5 .apps-link .app-icon .fa {
		font-size: 25px;
		margin-right: 15px;
   }
	#footer_theme_common5 .apps-link .app-content h6 {
		font-size: 15px;
   }
	#footer_theme_common5 .apps-link .app-content p {
		margin: 0;
		font-size: 10px;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	#footer_theme_common5 .contact-content .contact-icon .icon {
		font-size: 20px;
		margin-top: 25px;
   }
	#footer_theme_common5 .contact-content .contact-info p {
		font-size: 12px;
   }
	#footer_theme_common5 .contact-content .contact-info h6 {
		font-size: 13px;
   }
	#footer_theme_common5 .social-share a.link {
		font-size: 16px;
		margin-right: 20px;
   }
	#footer_theme_common5 .footer-links h6 {
		font-size: 11px;
   }
	#footer_theme_common5 .footer-links p a {
		font-size: 10px;
		line-height: 24px;
   }
	#footer_theme_common5 .newsletter-content h4 {
		font-size: 11px;
   }
	#footer_theme_common5 .newsletter-content .newsletter-description {
		font-size: 10px;
		line-height: 24px;
   }
	#footer_theme_common5 .apps-link .title h6 {
		font-size: 11px;
   }
	#footer_theme_common5 .apps-link .title p {
		line-height: 18px;
		font-size: 10px;
   }
	#footer_theme_common5 .apps-link .app-box {
		padding: 10px;
   }
	#footer_theme_common5 .apps-link .app-icon .fa {
		font-size: 25px;
		margin-right: 15px;
   }
	#footer_theme_common5 .apps-link .app-content h6 {
		font-size: 15px;
   }
	#footer_theme_common5 .apps-link .app-content p {
		margin: 0;
		font-size: 10px;
   }
}
@media (max-width: 767.98px) {
	#footer_theme_common5 .copyright-section {
		padding-bottom: 83px !important;
   }
}
