.user_img {
	margin-top: 3px;
	padding: 0px 8px;
	margin-right: -6px;
}
.user_img img {
	height: 30px;
	width: 30px;
}
.biz_table tr th {
	border-top: 0;
	border-color: #d6d6d6 !important;
	padding: 5px 15px;
	font-weight: 500;
}
.biz_table tr td {
	font-size: 13px;
	padding: 15px;
	border-color: #d6d6d6 !important;
}
.biz_table thead tr {
	line-height: 30px;
}
.biz_table tbody tr {
	line-height: 35px;
}
.biz_table tbody tr:nth-of-type(odd) {
	background-color: #f5f5f5;
}
.biz_table tbody tr:hover {
	background-color: theme-color('primary') !important;
	color: white;
}
.biz_table tbody tr:hover a {
	color: white;
	text-decoration: none;
}
#wrapwrap.o_portal {
	background-color: #fff !important;
}
.biz_portal {
	width: 100%;
	display: inline-block;
}
.biz_portal .badge-pill {
	font-size: 25px;
}
.biz_portal .list-group-item {
	width: 30%;
	float: left;
	margin: 10px;
	padding: 14px 18px;
	min-height: 139px;
	font-size: 16px;
	border-radius: 0px;
}
@media (max-width: 767.98px) {
	.biz_portal .list-group-item {
		width: 95%;
   }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
	.biz_portal .list-group-item {
		width: 47%;
   }
}
.biz_portal [title="Quotations"] {
	background-color: theme-color('secondary');
	color: #fff !important;
}
.biz_portal [title="Quotations"]:after {
	content: "\e81e";
	font-size: 50px !important;
	text-align: center;
	font-family: 'Linearicons-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
}
.biz_portal [title="Sales Orders"] {
	background-color: theme-color('primary');
	color: #fff !important;
}
.biz_portal [title="Sales Orders"]:after {
	content: "\e82e";
	display: inline-block;
	font-size: 50px !important;
	text-align: center;
	font-family: 'Linearicons-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
}
.biz_portal [title="Odoo Referral Program"], .biz_portal .list-group-item:last-child {
	background-color: theme-color('secondary');
	color: #fff !important;
}
.biz_portal [title="Odoo Referral Program"]:after {
	content: "\e6c3";
	display: inline-block;
	font-size: 50px !important;
	text-align: center;
	vertical-align: middle;
	font-family: 'Stroke-Gap-Icons';
}
.biz_portal [title="Invoices & Bills"] {
	background-color: theme-color('primary');
	color: #fff !important;
}
.biz_portal [title="Invoices & Bills"]:after {
	content: "\e972";
	font-size: 50px !important;
	text-align: center;
	font-family: 'IcoFont' !important;
	vertical-align: middle;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	display: inline-block;
}
.biz_portal [title="Opportunities"] {
	background-color: theme-color('secondary');
	color: #fff !important;
}
.biz_portal [title="Opportunities"]:after {
	content: "\ef2e";
	display: inline-block;
	font-size: 50px !important;
	text-align: center;
	font-family: 'IcoFont' !important;
	vertical-align: middle;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	display: inline-block;
}
.biz_portal [title="Projects"] {
	background-color: theme-color('primary');
	color: #fff !important;
}
.biz_portal [title="Projects"]:after {
	content: "\efb6";
	display: inline-block;
	font-size: 50px !important;
	text-align: center;
	vertical-align: middle;
	font-family: 'IcoFont' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	display: inline-block;
}
.biz_portal [title="Tasks"] {
	background-color: theme-color('secondary');
	color: #fff !important;
}
.biz_portal [title="Tasks"]:after {
	content: "\f007";
	display: inline-block;
	font-size: 50px !important;
	text-align: center;
	font-family: 'IcoFont' !important;
	vertical-align: middle;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	display: inline-block;
}
.biz_portal [title="Timesheets"] {
	background-color: theme-color('primary');
	color: #fff !important;
}
.biz_portal [title="Timesheets"]:after {
	content: "\f022";
	display: inline-block;
	font-size: 50px !important;
	font-family: 'IcoFont' !important;
	text-align: center;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	display: inline-block;
}
.biz_portal [title="Tickets"] {
	background-color: theme-color('secondary');
	color: #fff !important;
}
.biz_portal [title="Tickets"]:after {
	content: "\ea53";
	display: inline-block;
	font-size: 50px !important;
	text-align: center;
	font-family: 'IcoFont' !important;
	vertical-align: middle;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	display: inline-block;
}
.biz_portal [title="Purchase Orders"] {
	background-color: theme-color('primary');
	color: #fff !important;
}
.biz_portal [title="Purchase Orders"]:after {
	content: "\eef8";
	display: inline-block;
	font-size: 50px !important;
	text-align: center;
	font-family: 'IcoFont' !important;
	vertical-align: middle;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	display: inline-block;
}
#o_my_sidebar h4 {
	margin-bottom: 15px;
	margin-top: 15px;
}
#o_my_sidebar .btn-sm.btn-link {
	color: #000 !important;
	text-transform: capitalize;
	margin: 0px auto;
	font-size: 0.9375rem;
	float: right;
}
#o_my_sidebar hr {
	display: none;
}
#o_my_sidebar address {
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.125);
}
#o_my_sidebar address div:first-child {
	border-bottom: 1px solid #ededed !important;
	padding: 15px 0;
	margin-bottom: 10px;
}
#o_my_sidebar address span[itemprop="name"] {
	font-size: 18px;
	font-weight: 600;
}
#o_my_sidebar address div[itemprop="address"] > div {
	font-size: 15px;
	padding-top: 0 !important;
}
#o_my_sidebar address span[itemprop="telephone"] {
	border-bottom: 1px solid #ededed !important;
	margin-bottom: 10px;
	padding-bottom: 15px !important;
}
.lnr.rounded-circle, .icon.rounded-circle, .icofont.rounded-circle, .lni.rounded-circle, .ri.rounded-circle, .ti.rounded-circle, .lnr.rounded, .icon.rounded, .icofont.rounded, .lni.rounded, .ri.rounded, .ti.rounded, .lnr.rounded-0, .icon.rounded-0, .icofont.rounded-0, .lni.rounded-0, .ri.rounded-0, .ti.rounded-0, .lnr.rounded-leaf, .icon.rounded-leaf, .icofont.rounded-leaf, .lni.rounded-leaf, .ri.rounded-leaf, .ti.rounded-leaf, .lnr.img-thumbnail, .icon.img-thumbnail, .icofont.img-thumbnail, .lni.img-thumbnail, .ri.img-thumbnail, .ti.img-thumbnail, .lnr.shadow, .icon.shadow, .icofont.shadow, .lni.shadow, .ri.shadow, .ti.shadow {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	background-color: #f8f9fa;
}
.lnr.rounded-circle.fa-2x, .icon.rounded-circle.fa-2x, .icofont.rounded-circle.fa-2x, .lni.rounded-circle.fa-2x, .ri.rounded-circle.fa-2x, .ti.rounded-circle.fa-2x, .lnr.rounded.fa-2x, .icon.rounded.fa-2x, .icofont.rounded.fa-2x, .lni.rounded.fa-2x, .ri.rounded.fa-2x, .ti.rounded.fa-2x, .lnr.rounded-0.fa-2x, .icon.rounded-0.fa-2x, .icofont.rounded-0.fa-2x, .lni.rounded-0.fa-2x, .ri.rounded-0.fa-2x, .ti.rounded-0.fa-2x, .lnr.rounded-leaf.fa-2x, .icon.rounded-leaf.fa-2x, .icofont.rounded-leaf.fa-2x, .lni.rounded-leaf.fa-2x, .ri.rounded-leaf.fa-2x, .ti.rounded-leaf.fa-2x, .lnr.img-thumbnail.fa-2x, .icon.img-thumbnail.fa-2x, .icofont.img-thumbnail.fa-2x, .lni.img-thumbnail.fa-2x, .ri.img-thumbnail.fa-2x, .ti.img-thumbnail.fa-2x, .lnr.shadow.fa-2x, .icon.shadow.fa-2x, .icofont.shadow.fa-2x, .lni.shadow.fa-2x, .ri.shadow.fa-2x, .ti.shadow.fa-2x {
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
}
.lnr.rounded-circle.fa-3x, .icon.rounded-circle.fa-3x, .icofont.rounded-circle.fa-3x, .lni.rounded-circle.fa-3x, .ri.rounded-circle.fa-3x, .ti.rounded-circle.fa-3x, .lnr.rounded.fa-3x, .icon.rounded.fa-3x, .icofont.rounded.fa-3x, .lni.rounded.fa-3x, .ri.rounded.fa-3x, .ti.rounded.fa-3x, .lnr.rounded-0.fa-3x, .icon.rounded-0.fa-3x, .icofont.rounded-0.fa-3x, .lni.rounded-0.fa-3x, .ri.rounded-0.fa-3x, .ti.rounded-0.fa-3x, .lnr.rounded-leaf.fa-3x, .icon.rounded-leaf.fa-3x, .icofont.rounded-leaf.fa-3x, .lni.rounded-leaf.fa-3x, .ri.rounded-leaf.fa-3x, .ti.rounded-leaf.fa-3x, .lnr.img-thumbnail.fa-3x, .icon.img-thumbnail.fa-3x, .icofont.img-thumbnail.fa-3x, .lni.img-thumbnail.fa-3x, .ri.img-thumbnail.fa-3x, .ti.img-thumbnail.fa-3x, .lnr.shadow.fa-3x, .icon.shadow.fa-3x, .icofont.shadow.fa-3x, .lni.shadow.fa-3x, .ri.shadow.fa-3x, .ti.shadow.fa-3x {
	width: 6rem;
	height: 6rem;
	line-height: 6rem;
}
.lnr.rounded-circle.fa-4x, .icon.rounded-circle.fa-4x, .icofont.rounded-circle.fa-4x, .lni.rounded-circle.fa-4x, .ri.rounded-circle.fa-4x, .ti.rounded-circle.fa-4x, .lnr.rounded.fa-4x, .icon.rounded.fa-4x, .icofont.rounded.fa-4x, .lni.rounded.fa-4x, .ri.rounded.fa-4x, .ti.rounded.fa-4x, .lnr.rounded-0.fa-4x, .icon.rounded-0.fa-4x, .icofont.rounded-0.fa-4x, .lni.rounded-0.fa-4x, .ri.rounded-0.fa-4x, .ti.rounded-0.fa-4x, .lnr.rounded-leaf.fa-4x, .icon.rounded-leaf.fa-4x, .icofont.rounded-leaf.fa-4x, .lni.rounded-leaf.fa-4x, .ri.rounded-leaf.fa-4x, .ti.rounded-leaf.fa-4x, .lnr.img-thumbnail.fa-4x, .icon.img-thumbnail.fa-4x, .icofont.img-thumbnail.fa-4x, .lni.img-thumbnail.fa-4x, .ri.img-thumbnail.fa-4x, .ti.img-thumbnail.fa-4x, .lnr.shadow.fa-4x, .icon.shadow.fa-4x, .icofont.shadow.fa-4x, .lni.shadow.fa-4x, .ri.shadow.fa-4x, .ti.shadow.fa-4x {
	width: 7rem;
	height: 7rem;
	line-height: 7rem;
}
.lnr.rounded-circle.fa-5x, .icon.rounded-circle.fa-5x, .icofont.rounded-circle.fa-5x, .lni.rounded-circle.fa-5x, .ri.rounded-circle.fa-5x, .ti.rounded-circle.fa-5x, .lnr.rounded.fa-5x, .icon.rounded.fa-5x, .icofont.rounded.fa-5x, .lni.rounded.fa-5x, .ri.rounded.fa-5x, .ti.rounded.fa-5x, .lnr.rounded-0.fa-5x, .icon.rounded-0.fa-5x, .icofont.rounded-0.fa-5x, .lni.rounded-0.fa-5x, .ri.rounded-0.fa-5x, .ti.rounded-0.fa-5x, .lnr.rounded-leaf.fa-5x, .icon.rounded-leaf.fa-5x, .icofont.rounded-leaf.fa-5x, .lni.rounded-leaf.fa-5x, .ri.rounded-leaf.fa-5x, .ti.rounded-leaf.fa-5x, .lnr.img-thumbnail.fa-5x, .icon.img-thumbnail.fa-5x, .icofont.img-thumbnail.fa-5x, .lni.img-thumbnail.fa-5x, .ri.img-thumbnail.fa-5x, .ti.img-thumbnail.fa-5x, .lnr.shadow.fa-5x, .icon.shadow.fa-5x, .icofont.shadow.fa-5x, .lni.shadow.fa-5x, .ri.shadow.fa-5x, .ti.shadow.fa-5x {
	width: 8rem;
	height: 8rem;
	line-height: 8rem;
}
