button:focus {
	outline: 0px dotted !important;
	outline: 0px auto -webkit-focus-ring-color !important;
}
.carousel-item .product-info {
	margin-top: 16px;
}
.category-slider {
	text-align: center;
}
.category-slider .sli-cat-title {
	font-size: 18px;
}
.owl-nav {
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
	position: absolute;
	height: 100px;
	color: inherit;
	background: none;
	border: none;
	z-index: 100;
	background: #f0f0f0;
}
.owl-nav .owl-prev i, .owl-nav .owl-next i {
	font-size: 2.5rem;
	color: #cecece;
	display: block !important;
}
.owl-nav .owl-prev {
	left: 0;
}
.owl-nav .owl-next {
	right: 0;
}
.blog_slider_owl {
	padding: 60px 0;
	text-align: center;
}
@media (max-width: 1199px) {
	.blog_slider_owl {
		padding: 50px 0;
   }
}
.blog_slider_owl .block-title {
	margin-bottom: 30px;
}
.blog_slider_owl .block-title .filter {
	margin-bottom: 0;
}
.blog_slider_owl .comm_blog_box {
	position: relative;
}
.blog_slider_owl .comm_blog_box .section-post-media {
	height: 230px;
	background-size: cover;
	background-repeat: no-repeat;
}
@media (max-width: 1199px) {
	.blog_slider_owl .comm_blog_box .section-post-media {
		height: 180px;
   }
}
.blog_slider_owl .comm_blog_box .comm_base_class {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	max-width: 80%;
	margin: auto;
	vertical-align: middle;
	top: 40%;
}
@media (max-width: 1199px) {
	.blog_slider_owl .comm_blog_box .comm_base_class {
		bottom: 20px;
   }
}
.blog_slider_owl .comm_blog_box .comm_base_class h3 {
	font-weight: bold;
}
